<div class="container">
    <h2>
        1. Genel Konular bu içerik şirket politikalarına göre doldurulacaktır.
    </h2>
    <p>
        (1) Bu sözleşme ilişkisinden doğan tüm teslimatlar ve hizmetler için sadece aşağıdaki şartlar geçerlidir. Kullanıcının koşulları ve şartları, TIMOCOM bunlara açıkça itiraz etmediğinde dahi bağlayıcı değildir. TIMOCOM’un teklifi, yalnızca BGB 14. maddesine göre ticari amaçlı kullanım için şirketlere yöneliktir.
    </p>
    <p>
        (2) TIMOCOM, bu koşulları her faturalandırma döneminin sonunda değiştirmek ya da ekleme yapma hakkını saklı tutar. TIMOCOM, fatura formunda ya da Smart Logistics System pazarında açıkça uyararak kullanıcıları değişiklik hakkında bilgilendirecektir. Kullanıcı, değiştirilen şartlara derhal, ancak ilan edilmesinden itibaren en geç 1 ay içerisinde itiraz etmezse, bu şartlar kabul edilmiş sayılır. Fatura bedelinin koşulsuz olarak ödenmesi durumunda, onay verilmiş sayılır.
    </p>
    <p>
        (3) Sözleşmeyle ilgili beyanların, eklemelerin ve değişikliklerin geçerli olabilmeleri için yazılı olma şartı vardır. Taraflar, üçüncü bir tüzel kişiliğin Smart Logistics System pazarını kullanma hakkının olmasını kararlaştıracak olursa, diğer taraf bu kullanıcıya TIMOCOM’un beyanlarını kabul etme vekaleti verir.
    </p>
    <p>
        (4) Bu sözleşmede kişilerden (örneğin kullanıcılardan) söz edildiğinde, bu tanım tüm haller için (k/e/f) geçerlidir.
    </p>
</div>
