<div class="container" >

    <h2>
        1. Madde Hizmet bu içerik şirket politikalarına göre doldurulacaktır.
    </h2>
    <p>
        1. GNY GmbH, yalnızca sipariş vereni salt fatura tutarının tahsilatı sırasında desteklemek amacıyla faaliyet gösterir. GNY, görevi gereği kendi takdirine göre borçludan açık alacak hakkında bir cevap veya ödeme talep eder.
    </p>
    <p>
        2. GNY, yaptığı müdahalenin başarısı konusunda hiçbir garanti üstlenmez.
    </p>
    <p>
        3. Yapılan müdahaleden sonra borçlunun yaptığı ödemeler, senetler veya mahsuplaşması, sipariş verenin belirtilen ödeme tarihini takip eden 2 hafta içinde alacağın tahsil edilmediğini GNY'a açıkça bildirmemesi durumunda müdahalenin başarılı olduğu anlamına gelir. Müşteri, GNY aleyhine bahsi geçen talep için 3 gün içerisinde yukarıda belirtilen herhangi bir ödemeyi, krediyi veya ödenekleri bildirmeyi taahhüt eder.
    </p>
    <p>
        4. Sipariş verenin, alacağın tahsil edilmesi için her zaman başka önlemler uygulama hakkı saklıdır.
    </p>
</div>
