<div class="container">
<h2 class="font_weight_bold text_align_center">
    Uluslararası Tahsilat
</h2>

<p class="text_align_center">
    uluslar arası tahsilat yöneticisi telefon numarası
</p>

<a href="mailto:gny@gmail.com">
    <p class="text_align_center">
        gny@gmail.com
    </p>
</a>
</div>

