@{
    ViewData["Title"] = "İndir";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Genel Şartlar ve Koşullar
        </h1>
    </div>
</div>
@*header of page end*@
<div class="margin_between_sections">
    <h2 class="font_weight_bold text_align_center">
        Şirket İletişimi Bağlantısı
    </h2>
    <p class="text_align_center">
        Şirket İletişimi telefon numarası
    </p>
    <a href="mailto:gny@gmail.com">
        <p class="text_align_center">
            gny@gmail.com
        </p>
    </a>
</div>
<div class="margin_between_sections home_index_customer_section_main_div height_auto">
    @*unordered list start*@
    <ul class="home_index_best_services_section_unordered_list text_align_center">
        <li class="home_index_best_services_section_list_items width_50">
            <a class="nav-link text-black" onclick="loadPartialView('/Servis/LoadPartialView?partialViewName=DownloadPartialViews/_PartialViewGTC','#servis_download_changable_div')">  Genel işletme şartları </a>
        </li>
        <li class="home_index_best_services_section_list_items width_50">
            <a class="nav-link text-black" onclick="loadPartialView('/Servis/LoadPartialView?partialViewName=DownloadPartialViews/_PartialViewCollectionAgency','#servis_download_changable_div')">GŞK Tahsilat Bürosu</a>
        </li>
    </ul>
    @*unordered list end*@
    @*content div start*@
    <div id="servis_download_changable_div" class="home_index_best_services_section_content_div">
        <partial name="DownloadPartialViews/_PartialViewGTC" />
    </div>
    @*content div end*@
</div>