@{
    ViewData["Title"] = "Hizmetler";
}
<div class="home_index_top_information_main_div home_index_element_background_color color_white">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Siz Değerli Kullanıcılarımıza Sunacağımız Hizmetler
        </h1>
    </div>


</div>

<div class="home_index_customer_section_main_div margin_between_sections" style="height:200px !important;">
    <h2 class="text-center">Güvenlik</h2>
    <h5>Güvenlik, ticaretin temel bir ihtiyacı. Ve aynı zamanda lojistiğin en önemli ürünlerinden biri. Bu nedenle GNY’de biz buna bu kadar önem veriyoruz. Lojistiğin öncüsü ve refakatçsi olarak güvenlik bizde en ön sırada yer alır. Açmadan önce yeni müşterileri titizlikle kontrol ediyoruz, çünkü yalnızca güvenilir ortaklar Smart logistics System’imize dahil edilir.</h5>
</div>

<div class="home_index_customer_section_main_div margin_between_sections" style="height:200px !important;">
    <h2 class="text-center">Arayüzler</h2>
    <h5>Kullanımı kolay arayüzlerimiz sayesinde işlerinizi ve piyasayı kolayca takip edebileceksiniz.</h5>
</div>