@{
    ViewData["Title"] = "Uluslararası tahsilat";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Uluslararası Tahsilat Servisi
        </h1>
        <h4>
            “Uluslararası tahsilat servisimiz: Ödenmeyen faturalarda kolay çözümünüz.”
        </h4>
    </div>
</div>
@*header of page end*@
<div class="margin_between_sections text_align_center">
    <h2>
        Sizin avantajlarınız
    </h2>
</div>
<div class="margin_between_sections display_flex">

    <div class="width_33">
        <h4 class="text_align_center">
            Hızlı
        </h4>
        <ul>
            <li>
                kolay ve rahat çevrimiçi sipariş verin
            </li>
            <li>
                Alacak yönetiminde hızlı ve diplomatik çözüm
            </li>
        </ul>
    </div>
    <div class="width_33">
        <h4 class="text_align_center">
            Güvenli
        </h4>
        <ul>
            <li>
                Alacağınızın tahsilinde etkili destek
            </li>
            <li>
                Avrupa çapında, 27 dilde destek
            </li>
        </ul>
    </div>
    <div class="width_33">
        <h4 class="text_align_center">
            Güvenilir
        </h4>
        <ul>
            <li>
                2023’ten beri resmi makam izinli
            </li>
            <li>
                Vakalarda %87’nin üzerinde başarı
            </li>
        </ul>
    </div>

</div>
<p class="margin_between_sections">
    Uluslararası tahsilat alacak yönetiminde etkili ortağınız. Sizin için 27 dilde aracılık yapıyoruz. Ticaret ortaklarınızın ödemesini geciktirmesi durumunda tahsilat servisi ekibinin yetkin ve güvenilir yardımına güvenebilirsiniz. İstekleriniz hızlı, hesaplı ve mahkemeye gitmeden çözülür, böylece bir gecikme durumu dava konusu haline gelmez. Adalet ve anlayış, iş ilişkilerinizin sürdürülebilmesini etmesini sağlıyor.
</p>
