@{
    ViewData["Title"] = "Haberler";
}
<h1 class="font_weight_bold text_align_center">
    Bir bakışta tüm yenilikler
</h1>
<div class="container">
@* news container div start*@
<div class="width_100 margin_between_sections news_row_div">
    @*new 1 div start*@
    <div class="width_33">
        <section>
            <div class="news_card">
                <form asp-area="" asp-controller="" asp-action="" type="submit">
                    <button class="news_form_button">
                        <h3 class="font_weight_bold">Haber Başlığı</h3>
                        <hr class="news_h_p_separator">
                        <p>
                            haber içeriği burada bulunur. ve butona tıklama ile gerekli haber sayfasına asp- kodları ile yönlendirilir bir haber sitesine de yönlendirme yapılabilir
                        </p>
                    </button>
                </form>
            </div>
        </section>
    </div>
    @*new 1 div end*@
    @*new 2 div start*@
    <div class="width_33">
        <section>
            <div class="news_card">
                <form asp-area="" asp-controller="" asp-action="" type="submit">
                    <button class="news_form_button">
                        <h3 class="font_weight_bold">Haber Başlığı</h3>
                        <hr class="news_h_p_separator">
                        <p>
                            haber içeriği burada bulunur. ve butona tıklama ile gerekli haber sayfasına asp- kodları ile yönlendirilir bir haber sitesine de yönlendirme yapılabilir
                        </p>
                    </button>
                </form>
            </div>
        </section>
    </div>
    @*new 2 div end*@
    @*new 3 div start*@
    <div class="width_33">
        <section>
            <div class="news_card">
                <form asp-area="" asp-controller="" asp-action="" type="submit">
                    <button class="news_form_button">
                        <h3 class="font_weight_bold">Haber Başlığı</h3>
                        <hr class="news_h_p_separator">
                        <p>
                            haber içeriği burada bulunur. ve butona tıklama ile gerekli haber sayfasına asp- kodları ile yönlendirilir bir haber sitesine de yönlendirme yapılabilir
                        </p>
                    </button>
                </form>
            </div>
        </section>
    </div>
    @*new 3 div end*@
</div>
@* news container div end*@
</div>

