<div class="width_100 container">
    <div style="margin:0px 10px 10px 10px;">
        <h2 class="font_weight_bold">İlan verenler için daha fazla planlama güvenliği</h2>
        <p>
            Ticaret, nakliye ve lojistik sektöründeki bir şirket olarak düzenli nakliyatlarınız için <b>en iyi iş ortaklarını bulun</b>. Nakliyat işlerinizi uygun teklif verene verin ve bu şekilde, güvenilir ortaklardan oluşan ağınızı genişletin.
            <br />
            Ayrıcalığınız: Ayrıca kullanıcı olarak
            <a class="blue_bold_link" asp-area="" asp-controller="Product" asp-action="Freight">yük borsamızın avantajlarından</a> ağınızı genişletin
            yük borsamızın avantajlarından yararlanabilirsiniz. Bu sayede tüm olasılıklara hazırlanmış olacaksınız.
        </p>
        <h2 class="font_weight_bold">Sizin avantajlarınız</h2>
        <ul>
            <li>
                Tekrarlanan nakliyat işleriniz için hızlı ve etkili ilanlar verin.
            </li>
            <li>
                Potansiyel yeni işlerin güncel piyasa fiyatlarını tahmin edin
            </li>
            <li>
                Tek bir ilanla potansiyel olarak 
                <a class="blue_bold_link" asp-area="" asp-controller="Company" asp-action="BuisnessPartners">50.000’den fazla kontrol edilmiş şirkete</a>
                 ulaşın
            </li>
            <li>
                Tüm Avrupa'daki güvenilir hizmet sağlayıcıdan teklifler alın ve bu şekilde ağınızı genişletin
            </li>
            <li>
                İlanınızla ilgili soruları kolayca ve etkili bir şekilde cevaplayın
            </li>
            <li>
                Sonunda uygun teklif vereni seçin
            </li>
        </ul>
    </div>
</div>