<div class="width_100 container">
    <div style="margin:0px 10px 10px 10px;">
        <h2 class="font_weight_bold">Teklif verenler için uzun vadeli araç doluluğu</h2>
        <p>
            Nakliye ve lojistik sektöründeki bir şirket olarak uygun iş ortaklarını bulun ve bu şekilde araç filonuzun kapasitesini uzun vadeli ve optimal doldurun. Ulusal ve Avrupa çapında ilanlara katılın ve bu şekilde ağınızı üretim, ticaret ve lojistik alanından cazip sipariş verenlerle genişletin.
            <br />
            Ayrıcalığınız: Ayrıca kullanıcı olarak
            <a class="blue_bold_link" asp-area="" asp-controller="Product" asp-action="Freight">yük borsamızın avantajlarından</a> ağınızı genişletin
            yük borsamızın avantajlarından yararlanabilirsiniz. Bu sayede tüm olasılıklara hazırlanmış olacaksınız.
        </p>  
        <h2 class="font_weight_bold">Sizin avantajlarınız</h2>
        <ul>
            <li>
                Ulusal düzeyde ve Avrupa çapında ilanlara teklif verin
            </li>
            <li>
                Uzun süreli sabit siparişlerle kapasitelerinizi daha iyi planlayın
            </li>
            <li>
                Yük açısından zayıf geçme potansiyeli olan aylara hazırlanın ve bu sayede boş seyirleri önleyin
            </li><li>
                Ticaret, üretim ve lojistik alanından 
                <a class="blue_bold_link" asp-area="" asp-controller="Company" asp-action="BuisnessPartners">güvenilir iş ortaklarıyla</a> ağınızı genişletin
                </li>
        </ul>       
    </div>
</div>