@*şirket iletişim bilgilerini temsil eden partial viewdir*@
<div class="margin_between_sections width_100 background_color_gray color_white height_auto" style="margin-top:200px;">
    <div style="padding: 40px 0; width: 100%;">
        <h2 class="font_weight_bold text_align_center">
            Şirket İletişimi Bağlantısı
        </h2>
        <br />
        <br />
        <br />
        <p class="font_weight_bold text_align_center">
            Şirket adresi
        </p>     
        <br />
        <p class="font_weight_bold text_align_center">
            Şirket İletişimi telefon numarası
        </p>  
        <br />
        <a href="mailto:gny@gmail.com">
            <p class="text_align_center">
                gny@gmail.com
            </p>
        </a>
    </div>
</div>
