@{
    ViewData["Title"] = "Kapalı Yük Borsası";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Kapalı Yük Borsası
        </h1>
    </div>
</div>
@*header of page end*@
@*content start*@
<div class="margin_between_sections container text_align_center">
    <h3>
        Kapalı yük borsası nedir?
    </h3>
    <p>
        GNY ağımız büyüyor ve potansiyel iş ortakları arasında çok sayıda yük teklifi, arama ve e-posta üretiyor. Daha küçük ve özel kalmayı tercih ediyorsanız, bizde yük ve boş araç tekliflerinizi, oluşturduğunuz bir ortaklar ağında yayınlama olanağına sahipsiniz. Bu durumda yük teklifiniz yalnızca bu grup tarafından görülebilir ve ihtiyaç durumunda önceden tanımlanmış bir süre sonra herkese açık bir şekilde GNY yük borsasında yayınlanabilir.

        Şu andan itibaren, GNY'nin kapalı yük borsası sayesinde, nakliyat sürecindeki oyuncularınızı kendiniz belirleyin.
    </p>
</div>
@*content end*@
@*advantages section start*@
<div class="margin_between_sections home_index_customer_section_main_div text_align_center">
    <h3>
        Kapalı bir yük borsasının avantajları neler?
    </h3>
    <div class="display_block">
        <div class="display_flex">
            <div class="width_50 container">
                <h4>
                    Özellik
                </h4>
                <p>
                    Yalnızca, zaten güvendiğiniz iş ortaklarını görevlendirin. Böylece uzun vadeli ortaklıklar oluşturabilirsiniz.
                    </p>
            </div>
            <div class="width_50 container">
                <h4>
                    Zaman Tasarrufu
                </h4>
                <p>
                    İlgili olmayan başvurularla uğraşmak yerine, artık kontrol etmek zorunda kalmadığınız, tanınan iş ortaklarına güvenin.
                </p>
            </div>
        </div>
        <div class="display_flex margin_between_sections">
            <div class="width_50 container">
                <h4>
                    Maliyetten Tasarruf
                </h4>
                <p>
                    Ağınızdaki özel yük ve boş araç teklifi sayesinde daha iyi şartlar için pazarlık yapabilirsiniz.
                </p>
            </div>
            <div class="width_50 container">
                <h4>
                    Kontrol
                </h4>
                <p>
                    Başlatıcı olarak işbirliğinin hak dağılımını ve kurallarını istediğiniz gibi belirleyebilirsiniz. Ayrıca aylık olarak, grubunuzun başarısı hakkında bir istatistik de gönderilir.
                </p>
            </div>
        </div>
    </div>
</div>