@{
    ViewData["Title"] = "Yük Borsası Arayüzü";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Yük borsası arayüzü: 53.000’den fazla TIMOCOM müşterisine erişiminiz
        </h1>
    </div>
</div>
@*header of page end*@
<div class="margin_between_sections">
    <h3>
        Teklifleri tıklayarak kolayca aktarın
    </h3>
    <ul>
        <li>
            TMS ya da ERP sisteminizdeki tekliflerinizi doğrudan sistemin yük borsasına aktarın
        </li>
        <li>
            Çift girişlerin engellenmesi sayesinde aktarım hatalarını azaltın
        </li>
        <li>
            Bundan sonra rahat bir şekilde yalnızca tercih ettiğiniz programla çalışın
        </li>
    </ul>
</div>
<div class="margin_between_sections">
    <h3 class="text_align_center">
        Doğru nakliyeciyi nasıl hızla bulabilirim?
    </h3>
    <p>
        Yükün acilen yola çıkması gerekiyor ama etrafta hiç boş araç görünmüyor mu? Yük borsası arayüzümüz sayesinde artık zaman kaybı yaşamayacaksınız. Bu arayüz teklifinizi taşıma açısından önemli olan tüm verilerle birlikte GNY’nin Smart Logistics System’ine aktarır ve derhal 50.000 potansiyel iş ortağı için görünür hale getirir. Ve bunlar daha sizin için nakliyeyi yapmaya karar verirken, siz arayüz yoluyla bir sonraki nakliyeyi planlarsınız.
    </p>
    <br />
    image eklenebilir
</div>
<div class="margin_between_sections">
    <h3 class="text_align_center">
        Yük borsası arayüzü ortaklarımız
    </h3>
    <div class="display_block">
        <div class="display_flex">
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
        </div>
        <div class="display_flex">
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
        </div>
    </div>
</div>