@{
    ViewData["Title"] = "Yükler";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Yükler
        </h1>
    </div>
</div>
@*header of page end*@
@*content start*@
<div class="margin_between_sections container text_align_center">
    <h3>
        Yük bulmak ve sunmak
    </h3>
    <p>
        Yük girişi ve yüklere toplu bakış aracılığıyla her tür malı bulabilir ve verebilirsiniz. İş veren olarak boyutu, tür, ağırlık, çıkış ve varış noktasını mümkün olduğunca ayrıntılı şekilde açıklayın. Bu sayede, yük arayanların ihtiyaçlarınızı daha doğru şekilde öğrenmesini kolaylaştırabilir ve böylece sizinle daha hızlı iletişim kurulmasını sağlayabilirsiniz. Çünkü, yük arayanlar mevcut boş araçları için doğru yükü hızla bulmak amacıyla yük aramadaki bu listeden faydalanıyor. Yükleniciler teklifinize tıklayarak sizin iletişim bilgilerinizi görüntüleyebiliyor ve potansiyel sipariş partneri olarak können sizinle doğrudan bağlantı kurabiliyor.
    </p>
</div>
@*content end*@