@{
    ViewData["Title"] = "Index";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Türkiye’nin en iyi Smart Logistics System’i
        </h1>
    </div>
</div>
@*header of page end*@
<div class="container">
    @*li section start*@
    <div class="margin_between_sections">
        <h3>
            Komple nakliye süreci için bir sistem.
        </h3>
      <p>
            GNY’nin Smart Logistics System’i güvenli, daha hızlı ve daha kolay bir nakliye süreci için uygulamaları ve hizmetleri bir araya getiriyor. İster başlatma, görevlendirme, ister gerçekleştirme olsun; sistemde günlük zorluklarla rahatlıkla yüzleşmek için uygun çözümlere erişebilirsiniz. Sistem entegre arayüz teknolojisi yoluyla optimal olarak mevcut süreçlerinize entegre edilebilir ve birçok iş adımı otomatikleştirilebilir.
      </p>
    </div>
</div>