@{
    ViewData["Title"] = "Değerlendirme Fonksiyonu";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Değerlendirme fonksiyonu
        </h1>
        <br />
        <h4>
            nakliye ortağı seçiminde daha fazla güven
        </h4>
    </div>
</div>
@*header of page end*@
@*text content start*@

<div class="margin_between_sections container">
    <h3>
        Teklif verenler için uzun vadeli araç doluluğu
    </h3>
    <p>
        Nakliye ve lojistik sektöründeki bir şirket olarak uygun iş ortaklarını bulun ve bu şekilde araç filonuzun kapasitesini uzun vadeli ve optimal doldurun. Ulusal ve Avrupa çapında ilanlara katılın ve bu şekilde ağınızı üretim, ticaret ve lojistik alanından cazip sipariş verenlerle genişletin.
        <br />
        Ayrıcalığınız: Ayrıca kullanıcı olarak
        <a class="blue_bold_link" asp-area="" asp-controller="Product" asp-action="Freight">yük borsamızın avantajlarından</a> yararlanabilirsiniz. Bu sayede tüm olasılıklara hazırlanmış olacaksınız.
    </p>
    <h3>
        Sizin avantajlarınız
    </h3>
    <ul>
        <li>
            Ulusal düzeyde ve Avrupa çapında ilanlara teklif verin
        </li>
        <li>
            Uzun süreli sabit siparişlerle kapasitelerinizi daha iyi planlayın
        </li>
        <li>
            Yük açısından zayıf geçme potansiyeli olan aylara hazırlanın ve bu sayede boş seyirleri önleyin
        </li>
        <li>
            Ticaret, üretim ve lojistik alanından
            <a class="blue_bold_link" asp-area="" asp-controller="Company" asp-action="BuisnessPartners">güvenilir iş ortaklarıyla</a> ağınızı genişletin
            güvenilir iş ortaklarıyla ağınızı genişletin
        </li>
        <li>
            Her gün yayınlanan ilginç ilanları öğrenin
        </li>
        <li>
            Firma profiliniz sayesinde özel ilanlara davetler alın
        </li>
    </ul>
</div>
@*text content  end*@
<div class="home_index_customer_section_main_div margin_between_sections">
    <div class="container">
        <br />
        <div class="display_flex">
            @*left start*@
            <div class="width_50">
                <h3>
                    Yüklerini emanet eden herkes için
                    Avantajlarınız:
                </h3>
                <ul>
                    <li>
                        Daha fazla güven: İletişim, mallara yapılan muamele ve dakik yükleme ve boşaltma için yapılan olumlu değerlendirmeler, yükünüzün emin ellerde bulunduğu konusunda size güven verir.
                    </li>
                    <li>
                        İlk tercih: Olumlu bir şirket skoru sayesinde sipariş veren olarak nakliye şirketleri tarafından tercih edilirsiniz.
                    </li>
                    <li>
                        Zaman tasarrufu: Diğer sistem kullanıcılarının değerlendirmelerine dayanarak, hangi iş ortaklarının sizin için en doğrusu olduğuna daha iyi ve daha hızlı karar verebilirsiniz.
                    </li>
                </ul>
            </div>
            @*left end*@
            @*right start*@
            <div class="width_50">
                <h3>
                    Taşıma yapan herkes için
                    Avantajlarınız:
                </h3>
                <ul>
                    <li>
                        Daha fazla güven: Dakik ödeme, adillik ve iletişimle ilgili değerlendirmeler iş ortaklarınızı seçmenize yardım eder.
                    </li>
                    <li>
                        Piyasa değeri artışı: Olumlu değerlendirmeler şirket skorunuza katkıda bulunur ve böylece rekabet avantajınızı artırır.
                    </li>
                    <li>
                        Verimlilik: Smart Logistics System içerisindeki şeffaf değerlendirmeler sayesinde merkezi bir noktada potansiyel iş ortakları hakkında fikir veren görüşler bulabilirsiniz.
                    </li>
                </ul>
            </div>
            @*right end*@
        </div>
    </div>
</div>