@{
    ViewData["Title"] = "Takip Arayüzü";
}
@{
    ViewData["Title"] = "Yük Borsası Arayüzü";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Takip arayüzü: Tüm GPS haritaları tek haritada
        </h1>
    </div>
</div>
@*header of page end*@
<div class="margin_between_sections">
    <h3>
        Nakliyelerin gerçekleştirilmesi üzerinde daha fazla kontrol
    </h3>
    <ul>
        <li>
            Çeşitli telematik sağlayıcılarının verilerini tek haritada birleştirin
        </li>
        <li>
            Nakliyatlarınızın konumunu gerçek zamanlı olarak kontrol edin
        </li>
        <li>
            GPS verilerini ETA hesaplamasının temeli olarak kullanın
        </li>
        <li>
            Konum verilerini kendi müşterilerinize aktarın
        </li>
        <li>Şeffaflığınızı ve planlama güvenliğinizi geliştirin</li>
    </ul>
</div>
<div class="margin_between_sections">
    <h3 class="text_align_center">
        Takip arayüzü nasıl çalışıyor?
    </h3>
    <p>
        Arayüz aracılığıyla lojistik yazılımınız ve GNY Smart Logistics System arasında otomatik bir bağlantı oluşturulur. Şu anda 295’ten fazla farklı telematik sağlayıcısının takip verilerinin birleştirilmiş olarak alışık olduğunuz ERP ya da TMS arayüzünüzde görmenizi sağlar. Böylece işinizi daha verimli ve ATA’ların hesaplamasını daha kolay hale getirirsiniz.
    </p>
    <br />
    image eklenebilir
</div>
<div class="margin_between_sections">
    <h3 class="text_align_center">
        Takip  arayüzü ortaklarımız
    </h3>
    <div class="display_block">
        <div class="display_flex">
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
        </div>
        <div class="display_flex">
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
        </div>
    </div>
</div>