@{
    ViewData["Title"] = "İzleme";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            İzleme
        </h1>
    </div>
</div>
@*header of page end*@
@*text content start*@

<div class="margin_between_sections container">
    <h3>
        Nakliyatlarınızın izlenmesini kolaylaştırın
    </h3>
    <ul>
        <li>
            GNY sisteminde tüm araçları ve gönderileri 295 bağlı telematik sağlayıcısıyla takip edin
        </li>
        <li>
            GPS verilerinizi iş ortaklarınızla kolayca ve hızla geçici olarak paylaşın
        </li>
        <li>
            Şeffaflık ve güvenlikten kazanç sağlayın
        </li>
    </ul>
    <div class="margin_between_sections">
        <h3>Taşımacılık işlemlerini her zaman takip edin</h3>
        <p>
            açıklama buraya
            <br />
            Yüksek performanslı izleme çözümü tüm yaygın telematik sistemlerini Smart Logistics System’imizde birleştiriyor. İlgili konum bilgileri düzenli şekilde birleştirilerek size gösterilir. Artık farklı uygulamalar arasında gidip gelmenize gerek yok, izlemeyi merkezi olarak kontrol altında tutabilirsiniz. Ayrıca elde edilen şeffaflık sayesinde tüm işlemler sırasında daha fazla güvenliğe sahip olursunuz.
            <br />
            <br />
            Talebini GNY'un IT departmanına iletirken, “Fatura ve gerçekleşme kanıtlarını doğrudan ilgili taşıma siparişine atayabileceğimiz bir özelliğin olmasını da isteriz," diyor. Beklentisi: “Yıllık vergi denetimde, tüm bilgiler bu şekilde tek bir merkezde toplanabilir – bu bize zaman kazandıracağı için bizim açımızdan mutlak bir katma değerdir.” Zaten şu anda bile arşivleme imkanları sayesinde dosyalama klasörleri artık geçmişte k
        </p>
    </div>
</div>
@*text content  end*@