@{
    ViewData["Title"] = "Nakliyat İşleri";
}

@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Nakliyat İşleri
        </h1>
    </div>
</div>
@*header of page end*@
@*content start*@
<div class="margin_between_sections container text_align_center">
    <h3>
        Sürecin tamamı Smart Logistics System’de
    </h3>
    <p>
        Nakliye işlerini doğrudan iş ortaklarınızla, GNY sisteminde gerçekleştirin. Dijital işlem sayesinde hızlı iletişim kurabilir ve ayrıca veri toplarken fazladan zaman kazanırsınız. Bütün siparişler otomatik olarak ilgili dillere çevrildiğinden, dil engeli ve bundan kaynaklı zaman kaybı da yoktur. Bir diğer avantaj da örneğin e-posta gibi diğer iletişim kanallarına oranla anlaşılır sunumdur.
        <br />
        Ayrıca GNY sayesinde, alıştığınız yüksek
        <a class="blue_bold_link" asp-area="" asp-controller="Servis" asp-action="Security">güvenlikten</a>
        yararlanırsınız. Veriler her zaman müşteride kalır ya da yetkisiz kişilerin erişiminden korunur. Bütün sunucular Almanya’da bulunur, dolayısıyla burada Alman Veri Koruma Kanunu geçerlidir. Hiçbir veri ülkeden dışarı çıkmaz.
    </p>
</div>
@*content end*@
@*content start*@
<div class="margin_between_sections container ">
    <h3>
        Avantajlarınız:
    </h3>
    <ul>
        <li>
            Kesintisiz dijital sipariş süreçleriyle iletişiminizi optimize edin
        </li>
        <li>
            Hukuken bağlayıcı sözleşme dokümanları sayesinde güvenlik kazanın
        </li>
        <li>
            Sipariş dokümanının iş ortağınızın dilinde gönderilmesi sayesinde dil engellerini aşın
        </li>
        <li>
            Nakliyat siparişlerinizi firma logonuzla, nakliyatla ilgili dokümanlarınız ve sipariş numarası oluşturucu sayesinde kişiselleştirin
        </li>
        <li>
            Tekrarlanan nakliyat siparişleri için şablonlar oluşturarak zaman kazanın
        </li>
        <li>
            Gelecekteki ticari kararları kişisel istatistiklere göre verin
        </li>
        <li>
            <a class="blue_bold_link" asp-area="" asp-controller="Servis" asp-action="TransportOrderInterface">Nakliyat siparişleri arayüzünü kullanarak verimliliğinizi artırın.</a>
        </li>
    </ul>
</div>
@*content end*@