@{
    ViewData["Title"] = "Nakliye Siparişleri Arayüzü";
}
@{
    ViewData["Title"] = "Yük Borsası Arayüzü";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Sipariş girişlerinizi otomatik hale getirin
        </h1>
    </div>
</div>
@*header of page end*@
<div class="container">
<div class="margin_between_sections">
    <h3>
        Siparişleri doğrudan kabul edin ve hemen işe koyulun
    </h3>
    <ul>
        <li>
            Doğrudan, dijital ve hukuki olarak bağlayıcı sipariş alarak/vererek zaman ve para tasarrufu sağlayın.
        </li>
        <li>
            Temel verilerin ve nakliye verilerinin TMS’nize otomatik transferi sayesinde aktarım hatalarını önleyin.
        </li>
        <li>
            Nakliye siparişlerinizin tamamen otomatik olarak alıcının dilinde gönderiminden yararlanın.
        </li>
    </ul>
</div>
<div class="margin_between_sections">
    <h3 class="text_align_center">
        Nakliye siparişleri arayüzü böyle çalışıyor; otomatik ve hukuken bağlayıcı.
    </h3>
    <p>
        Bir nakliyecide karar kıldığınızda sözleşme gönderimi otomatik olarak nakliye siparişleri arayüzü üzerinden gerçekleşir. Bu şekilde e-postaları bekleme süresinden ya da acil olarak ihtiyaç duyulan dokümanların gönderimini tekrar talep etmekten kurtulursunuz. Verme, kabul, arşivleme; tüm bu süreçler arayüz sayesinde hafifletilir ve hızlandırılır.
    </p>
    <br />
    image eklenebilir
</div>
<div class="margin_between_sections">
    <h3 class="text_align_center">
        Nakliye siparişleri arayüzü ortaklarımız
    </h3>
    <div class="display_block">
        <div class="display_flex">
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
        </div>
        <div class="display_flex">
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
            <div class="width_25">
                img
            </div>
        </div>
    </div>
</div>
</div>