@{
    ViewData["Title"] = "Boş Araç";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            Boş Araç
        </h1>
    </div>
</div>
@*header of page end*@
@*content start*@
<div class="margin_between_sections container text_align_center">
    <h3>
        Boş araç bulmak ve sunmak
    </h3>
    <p>
        Yüklerinizi verirken size destek olmak için  <a class="blue_bold_link" asp-area="" asp-controller="Home" asp-action="Index">Smart Logistics System</a>’de size boş araç aramasını sunuyoruz. Bu şekilde sipariş veren olarak yük teklifiniz için kendiniz harekete geçebilir ve isteklerinize uygun, boş bir araç bulabilirsiniz. Bu yolla esnekliğinizi ve karlılığınızı artırabilirsiniz. Diğer yandan burada yüklenici olarak boş yük hacminizi yük borsasında teklif etme olanağına sahipsiniz.
    </p>
</div>
@*content end*@