@{
    ViewData["Title"] = "Depo";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
Depo        </h1>
    </div>
</div>
@*header of page end*@
<div class="margin_between_sections">
    <h3 class="text_align_center">
        Her isteğe uygun depo çözümleri
    </h3>
    <p>
        Bir deponuz var ve bunu optimal olarak doldurmak mı istiyorsunuz? Ya da uygun depo alanları arayışında mısınız? Öyleyse size uygun çözüm bizde: Smart Logistics System’imiz içerisinde bir depo borsası da sunuyoruz. Bu sistem, Avrupa’da farklı depo alanları ve türleri açısından açık ara en büyük B2B ağıdır, üstelik ek maliyet olmadan. Sistemin kullanıcısı olarak depo borsasına ve potansiyel olarak 46 Avrupa ülkesinden 9.000’den fazla depo ve lojistik alanına otomatik olarak erişebilirsiniz. İhtiyaca bağlı olarak depo teklifleri alabilir ya da ilan edebilir ve potansiyel bir iş ortağıyla bağlantı kurabilirsiniz.
    </p>
</div>
@*Costomers section start*@
<div class="home_index_customer_section_main_div margin_between_sections">
    <br />
    <h3 class="font_weight_bold text_align_center">
        “GNY depo borsası bizim için büyük bir şans oldu”
    </h3>
    @*one customer referance start*@
    <div class="display_flex" style="margin-top:20px;">
        <div class="width_50">
            bilmem kimin resmi
        </div>
        <div class="width_50">
           <b>Bir fare tıklamayısla yeni bir depo bulan Bavyera’daki bir nakliyeci.</b>
            <br />
            <p>
                Nürnberg’deki Gematrans nakliye şirketi bir zorlukla karşı karşıyaydı: Aynı depolama merkezinde 30 yıldan sonra en kısa süre içerisinde yeni depo alanları bulması gerekiyordu. İsveç, Norveç, Danimarka ve Finlandiya’ya her gün yük gönderen ve alan lojistik ve taşımacılık şirketi, günlük işleri devam ederken ve düşük bir külfetle hızlı bir çözüm bulmak zorundaydı.
            </p>
          
        </div>
    </div>
    @*one customer referance end*@
 
</div>
@*Costomers section end*@