@*page content start*@
<div class="home_index_customer_section_main_div margin_between_sections display_block height_auto text_align_center">
    @*block 1 start*@
    <div class="display_flex">
        <div class="width_25">
            GNY yi kullanan taşıyıcı firmaların logoları bu bölümlere eklenecektir. link ile web sitelerine yönlendirme yapılacaktır.
        </div>
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
    </div>
    @*block 1 end*@
    @*block 2 start*@
    <div class="display_flex margin_between_sections">
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
    </div>
    @*block 2 end*@
</div>
@*page content end*@