@{
    ViewData["Title"] = "Hakkımızda";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            GNY Hakkında
        </h1>
    </div>
</div>
@*header of page end*@
@*information of page start*@
<div class="home_index_customer_section_main_div margin_between_sections display_flex" style="height:auto;">
    <div class="width_25" style="margin:10px;">
        <h5>Vizyonumuz</h5>
        <p>Bu alan temsilidir daha sonra değiştirilecektir!
            Tüm GNY'yi, lojistiğin geleceği için ortak bir vizyon birleştiriyor. FreightTech şirketi olarak lojistik zorlukların olmadığı bir dünyaya inanıyoruz. Bu nedenle, lojistiği akıllı, güvenli ve kolay şekilde tasarlamayı kendimize görev edindik. Bu geleceği şu şekilde adlandırıyoruz: Gelişmiş Lojistik. Gelişmiş lojistik bizim de vaadimiz. Çünkü biz bunu lojistiğin genişletilmesi, geliştirilmesi, güçlendirilmesi, büyütülmesi ve artırılması olarak anlıyoruz. Müşterilerimiz için bunun anlamı, karşılaştıkları lojistik zorlukları GNY ile akıllı, güvenli ve kolay şekilde çözebilmektir.
        </p>
    </div>
    <div class="width_25" style="margin:10px;">
        <h5>Başarı Hikayemiz</h5>
        <p>
            Bu alan temsilidir daha sonra değiştirilecektir!
            Eksik dijital çözümler bizi yalnızca bugün itici gücümüz değil, şirketin kuruluşunun da temelini oluşturuyorlardı. Nisan 1997’de, Jens Thiermann adlı nakliyeci taşımacılık işleri için Avrupa genelinde bir ihale platformu arıyordu. Ancak karşılaştığı, düşüncelerini ve beklentilerini karşılamıyordu. Ve şu kararı verdi: Bunu kendimiz yapalım! Bu şekilde GNY Soft- und Hardware GmbH kuruldu ve mesai saatlerinden sonra ve hafta sonları Avrupa’da kendi yük ve boş araç borsası sgeliştirilmeye başlandı. Cesaret verici bu başlangıç, günümüzde Avrupa’nın lojistik sektörü için en başarılı orta ölçekli IT ve veri uzmanlarından birine dönüştü. 2018 yılında GNY Soft- und Hardware GmbH’nın ticari unvanı GNY GmbH olarak değiştirildi.
        </p>
    </div>
    <div class="width_25" style="margin:10px;">
        <h5>Teklifimiz</h5>
        <p>
            Bu alan temsilidir daha sonra değiştirilecektir!
            Avrupa’daki lojistik sektörünün yol açıcısı ve eşlikçisi olarak, her gün 1 milyon’e varan sayıda uluslar arası yük ve boş araç teklifinin verildiği ve işlendiği Avrupa’nın ilk Smart Logistics System’ini sunuyoruz. 53.000’den fazla kontrol edilmiş şirketten oluşan nötr ağımız da sistemin bir parçası. Tarafsızlık burada önemli bir avantaj, çünkü işlemler direkt olarak iş ortakları arasında tamamlanıyor.
        </p>
    </div>
    <div class="width_25" style="margin:10px;">
        <h5>Çok Yönlülüğümüz</h5>
        <p>
            Bu alan temsilidir daha sonra değiştirilecektir!
            Uzmanlaşmamız ve uluslararası faaliyet göstermemiz nedeniyle, Düsseldorf yakınlarındaki Erkrath’taki şirket merkezinde ve Polonya, Çek Cumhuriyeti ve Macaristan’daki şubelerde 40’un üzerindeki ülkeden 650’den fazla personel çalışıyor. Şirketin kurucusu Jens Thiermann, şirket yönetimini oğlu Tim Thiermann’la paylaşıyor. Bu şekilde aile şirketinin tepe yönetimde uzun yıllara dayanan deneyim ve geleceğe yönelik perspektifler birleşiyor. Daha şimdiden birlikte birçok başarılı girişimcilik dönüm noktasını geride bıraktık.
        </p>
    </div>
</div>
@*information of page end*@
