@{
    ViewData["Title"] = "Index";
}
@*vizyon misyon gelecek start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white text-center">
    <h2>Vizyonumuz:</h2>
    <h5>Biz lojistik zorlukların olmadığı bir dünyaya inanıyoruz</h5>
    <br />

    <h2>Misyonumuz:</h2>
    <h5>Lojistiği akıllı, güvenli ve kolay tasarlıyoruz</h5>
    <br />

    <h2>Geleceğimiz:</h2>
    <h5>Gelişmiş Lojistik</h5>
        <br />
</div>
@*vizyon misyon gelecek end*@
@*şirket info start*@
<div class="home_index_customer_section_main_div margin_between_sections" style="height:200px !important;">
        <h1 class="text-center">GNY kimdir?</h1>
        <p>Şirket hakkında bilgi buraya eklenecek
            GNY, 40’dan fazla ülkeden 500'ın üzerinde çalışana ve Polonya, Çek Cumhuriyeti ve Macaristan'da temsilciliklere sahip orta büyüklükte bir IT ve veri uzmanıdır. Avrupa için ilk Akıllı Lojistik Sisteminin sunucusu olarak, müşterilerimizin karşılaştığı günlük zorluklara yönelik akıllı, güvenli ve kolay çözümlerle lojistik sektörünü genişletiyoruz. Bu çözümleri, 50.000 üzerinde kontrol edilmiş şirketten oluşan tarafsız bir ağda birleştiriyoruz.
        </p>
</div>
@*şirket info end*@
