@{
    ViewData["Title"] = "Başarı Hikayeleri";
}
@*header of page start*@
<div class="home_index_top_information_main_div home_index_element_background_color color_white" style="height:200px;">
    <div class="center_div_50_50">
        <h1 class="text-center text_align_center">
            GNY sayesinde gelen başarı:
        </h1>
        <h5>
            Müşterilerimizin başarı hikayelerinden, Smart Logistics System’i kazancınızı artırmak için nasıl kullanacağınızı öğrenin.
        </h5>
    </div>
</div>
@*header of page end*@
@*page content start*@
<div class="home_index_customer_section_main_div margin_between_sections display_block height_auto text_align_center">
    <div class="container">
    @*block 1 start*@
    <div class="display_flex">
        <div class="width_25">
            müşterileri firma logosu buraya tıklayınca müşterinin gny hakkındaki görüşlerini içeren sayfaya yönlendirilecek
        </div>
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
    </div>
    @*block 1 end*@
    @*block 2 start*@
    <div class="display_flex margin_between_sections">
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
        <div class="width_25">
            img
        </div>
    </div>
    @*block 2 end*@
</div>
</div>
@*page content end*@
