
<h2 class="font_weight_bold text_align_center">
    Uluslararası tahsilat
</h2>

<p class="text_align_center">
    gny telefon numarası bu alana
</p>

<a href="mailto:gny@gmail.com">
    <p class="text_align_center">
        gny@gmail.com
    </p>
</a>


