<div class="display_flex width_100">
    @*sol div start*@
    <div class="width_50">
        <h2 class="font_weight_bold text_align_center">
            Müşteri Temsilciliği
        </h2>
        <p class="text_align_center">
            Buradan GNY'ye mesaj gönderebilirsiniz. Arzu etmeniz ve telefon numaranızı bırakmanız hâlinde, mesajınızı işleme aldıktan hemen sonra sizi geri ararız (Pzt-Pe, 7:30 ila 17:30 ve Cu 7:30-17:00 arasında).
        </p>
    </div>
    @*sol div end*@
    @*sağ div start*@
    <div class="width_50">
        <p class="text_align_center">
            Şirket konumu
        </p>

        <p class="text_align_center">
            Şirket İletişimi telefon numarası
        </p>

        <a href="mailto:gny@gmail.com">
            <p class="text_align_center">
                gny@gmail.com
            </p>
        </a>
    </div>
    @*sağ div end*@
</div>

