@{
    ViewData["Title"] = "İletişim";
}  
<h2 class="font_weight_bold text_align_center">
    GNY’yle iletişime geçmek için
</h2>
<div class="margin_between_sections">
    @*unordered list start*@
    <ul class="home_index_best_services_section_unordered_list">
        <li class="home_index_best_services_section_list_items" style="width: 33% !important;">
            <a class="nav-link text-black" onclick="loadPartialView('/Contuct/LoadPartialView?partialViewName=_PartialViewCustomerCare','#contuct_us_changable_content_div')"> Müşteri Temsilciliği </a>
        </li>
        <li class="home_index_best_services_section_list_items" style="width: 33% !important;">
            <a class="nav-link text-black" onclick="loadPartialView('/Contuct/LoadPartialView?partialViewName=_PartialViewCompanyCommunication','#contuct_us_changable_content_div')"> Şirket İletişimi</a>
        </li>
        <li class="home_index_best_services_section_list_items" style="width: 33% !important;">
            <a class="nav-link text-black" onclick="loadPartialView('/Contuct/LoadPartialView?partialViewName=_PartialViewInternationalDebtCollection','#contuct_us_changable_content_div')">Uluslararası Tahsilat</a>
        </li>
    </ul>
    @*unordered list end*@
    @*content div start*@
    <div id="contuct_us_changable_content_div" class="home_index_best_services_section_content_div">
        @*müşteri temsilciliği start*@
        <div class="display_flex width_100">
            @*sol div start*@
            <div class="width_50">
                <h2 class="font_weight_bold text_align_center">
                    Müşteri Temsilciliği
                </h2>
                <p class="text_align_center">
                    Buradan GNY'ye mesaj gönderebilirsiniz. Arzu etmeniz ve telefon numaranızı bırakmanız hâlinde, mesajınızı işleme aldıktan hemen sonra sizi geri ararız (Pzt-Pe, 7:30 ila 17:30 ve Cu 7:30-17:00 arasında).
                </p>
            </div>
            @*sol div end*@
            @*sağ div start*@
            <div class="width_50">
                <p class="text_align_center">
                    Şirket konumu
                </p>
                <p class="text_align_center">
                    Şirket İletişimi telefon numarası
                </p>
                <a href="mailto:gny@gmail.com">
                    <p class="text_align_center">
                        gny@gmail.com
                    </p>
                </a>
            </div>
            @*sağ div end*@
        </div>
        @*müşteri temsilciliği end*@
    </div>
    @*content div end*@
</div>