@{
    ViewData["Title"] = "İletişim";
}  
<h2 class="font_weight_bold text_align_center">
    GNY’yle iletişime geçmek için
</h2>
<div class="margin_between_sections">
    @*unordered list start*@
    <ul class="home_index_best_services_section_unordered_list">
        <li class="home_index_best_services_section_list_items" style="width: 33% !important;">
            <a class="nav-link text-black" onclick="loadPartialView('/Contuct/LoadPartialView?partialViewName=_PartialViewCustomerCare','#contuct_us_changable_content_div')"> Müşteri Temsilciliği </a>
        </li>
        <li class="home_index_best_services_section_list_items" style="width: 33% !important;">
            <a class="nav-link text-black" onclick="loadPartialView('/Contuct/LoadPartialView?partialViewName=_PartialViewCompanyCommunication','#contuct_us_changable_content_div')"> Şirket İletişimi</a>
        </li>
        <li class="home_index_best_services_section_list_items" style="width: 33% !important;">
            <a class="nav-link text-black" onclick="loadPartialView('/Contuct/LoadPartialView?partialViewName=_PartialViewInternationalDebtCollection','#contuct_us_changable_content_div')">Uluslararası Tahsilat</a>
        </li>
    </ul>
    @*unordered list end*@
    @*content div start*@
    <div id="contuct_us_changable_content_div" class="home_index_best_services_section_content_div">
        
    </div>
    @*content div end*@
</div>