@{
    Layout = null;
    ViewData["Title"] = "Şifre Yenileme";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - GNY</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <form asp-area="" asp-controller="Account" asp-action="ForgetPasswordEmailSent" method="post">
        @*general parent start *@
        <div class="center-div">
            <h1>logo buraya</h1>
            @*information text start *@
            <div class="login-page-child-divs">
                <text>
                    başarıyla şifre yenileme e posası gönderildi bilgisi
                </text>
            </div>
            @*information text end *@
            @*try again start*@
            <div class="login-page-child-divs">
                <a class="nav-link text-white text_decoration_none" asp-area="" asp-controller="Account" asp-action="ForgetPassword">
                    Bir e-posta almadınız mı? Lütfen tekrar deneyin veya müşteri hizmetleri ekibimizle iletişime geçin.
                </a>
            </div>
            @*try again end*@
        </div>
        @*general parent end *@
</form>
</body>
</html>

