@{
    Layout = null;
    ViewData["Title"] = "Şifre Yenileme";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - GNY</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @*general parent start *@
        <div class="center-div">
            <h1>Şifre Yenile</h1>
            @*e-mail start *@
            <div class="login-page-child-divs">
                <label for="UserName">E-mail adresi *</label>
                <br>
                <input class="login-page-text-area" type="text" required id="UserName" name="UserName" />
            </div>
            @*e-mail  end *@
            @*buttons start*@
            <div class="login-page-child-divs">
                @*next button start *@
                <input class="login-page-register-button text_decoration_none" type="submit" asp-area="" asp-controller="Account" asp-action="ForgetPasswordEmailSent" value="sonraki" />
                @*next button end *@
            </div>
            @*buttons end*@


        </div>
        @*general parent end *@
    }
</body>
</html>

