@{
    Layout = null;/*shared>layout'u iptal eder*/
    ViewData["Title"] = "Giriş Yap";
}
<html>
    <head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - GNY</title>
    <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        
    <form asp-area="" asp-controller="Account" asp-action="Login" method="post">
        @*general parent start *@
        <div class="center-div">
            <h1>GNY Giriş Yap</h1>
                @*e-mail start *@
            <div class="login-page-child-divs">
                <label for="UserName">E-mail adresi *</label>
                <br>
                    <input class="login-page-text-area" type="text" required id="UserName" name="UserName" />
            </div>
                @*e-mail  end *@
                @*password  start *@
            <div class="login-page-child-divs">
                    <label for="Password">Şifre *</label>
                <br>
                    <input class="login-page-text-area" type="Password" required id="Password" name="Password" />
            </div>
                @*password end *@
                @*forget password start*@
            <div class="login-page-child-divs">
                <a class="nav-link text-white text_decoration_none" asp-area="" asp-controller="Account" asp-action="ForgetPassword">Şifrenizi mi unuttunuz?</a>
                </div>
            @*forget password end*@
            @*buttons start*@
            <div class="login-page-child-divs">
                @*login button start *@
                <input class="login-page-register-button" type="submit" asp-area="" asp-controller="Home" asp-action="Index" value="Giriş Yap" />
                @*login button end *@
            </div>
            @*buttons end*@


        </div>
        @*general parent end *@
    </form>
    </body>
</html>

