<div class="display_flex">
    <div class="width_50">
        <h2 class="font_weight_bold">Katma Değerli Hizmetler</h2>
        <ul>
            <li>
                Geniş bir ürün yelpazesine ek olarak GNY, lojistik süreçlerini daha da verimli ve esnek hale getirmek için Katma Değerli Hizmetler de sunmaktadır.
            </li>
            <li>
                Ortağımız SCHUNCK Group’un mal taşıma sigortasıyla sipariş verenler örneğin tek yükleri hızla ve kolayca, doğrudan yük borsası içinde sigortalayabiliyor.
            </li>
            <li>
                GNY, iş ortaklarının ödemelerini geciktiren müşteriler için hızlı ve güvenilir bir ortaktır. Bir anlaşmazlığın ortaya çıkmaması için hızlı ve ucuz bir mahkeme dışı çözümle ilgileniyoruz.
            </li>
        </ul>

        <form asp-area="" asp-controller="Servis" asp-action="InternationalDebtCollection" type="submit">
            <button class="home_index_top_information_buttons">
                <text class="home_index_top_information_button_text_color" style="white-space: nowrap;">
                    Katma Değerli Hizmetlere git
                </text>
            </button>
        </form>
    </div>
    <div class="width_50">
        resim buraya
    </div>
</div>