<div class="display_flex">
    <div class="width_50">
        <h2 class="font_weight_bold">Nakliye Barometresi</h2>
        <ul>
            <li>
                GNY nakliye barometresi, Türkiye nakliye pazarındaki yüklerin ve boş araçların güncel orantısını gösterir.
            </li>
            <li>
                Bu gösterge, planlamayı daha verimli kılmaya, piyasadaki dalgalanmaları daha iyi atlatmaya ve sağlam bir temel üzerinde daha iyi fiyat pazarlığı yapmaya yardımcı oluyor.
            </li>
            <li>
                Ayrıca müşteriler GNY nakliye barometresi uygulamasını indirebiliyor ve böylece istedikleri zaman dışarıdayken de piyasanın güncel durumunu görüntüleyebiliyor.
            </li>
        </ul>

        <form asp-area="" asp-controller="Servis" asp-action="TransportBaroMeter" type="submit">
            <button class="home_index_top_information_buttons">
                <text class="home_index_top_information_button_text_color" style="white-space: nowrap;">
                    Nakliye Barometresine git
                </text>
            </button>
        </form>
    </div>
    <div class="width_50">
        resim buraya
    </div>
</div>