<div class="display_flex">
    <div class="width_50">
        <h2 class="font_weight_bold">Yük Borsası</h2>
        <ul>
            <li>
                GNY yük borsası şirketlerin hızla ve kolayca yük teklifleri bulmasına olanak sağlıyor.
            </li>
            <li>
                Arz ve talep arasındaki bağlantı sayesinde boş yolculuklar önleniyor ve araç doluluğu artırılıyor.
            </li>
            <li>
                Road Freight çözümü, entegre rota planlaması ve dokümanları doğrudan platform üzerinden alıp verme olanağı sayesinde lojistik sektörü için konforlu ve verimli bir çözüm sunuyor.
            </li>
        </ul>

        <form asp-area="" asp-controller="Product" asp-action="Freight" type="submit">
            <button class="home_index_top_information_buttons">
                <text class="home_index_top_information_button_text_color">
                    Yük Borsasına git
                </text>
            </button>
        </form>
    </div>
    <div class="width_50">
        resim buraya
    </div>
</div>