<div class="display_flex">
    <div class="width_50">
        <h2 class="font_weight_bold">Arayüzler</h2>
        <ul>
            <li>
                GNY, örneğin yük borsası, nakliye siparişleri ve takip gibi Road Freight hizmetini mevcut sistemle entegre etmeye izin veren, çok sayıda arayüz sunuyor.
            </li>
            <li>
                Lojistik yazılımının, telematik yazılımının ve başka araçların entegrasyonu sayesinde şirketler süreçlerini optimize edebiliyor ve otomatik hale getirebiliyor. Bu, verimliliği artırır ve hata kaynaklarını azaltır.
            </li>
        </ul>

        <form asp-area="" asp-controller="Product" asp-action="FreightExchangeInterface" type="submit">
            <button class="home_index_top_information_buttons">
                <text class="home_index_top_information_button_text_color">
                    Arayüzlere git
                </text>
            </button>
        </form>
    </div>
    <div class="width_50">
        resim buraya
    </div>
</div>