/*
    GNY sitesinin css dosya yolu
    top>timcdnprd.azureedge.net>resource>themes/GNY>css
*/
/*default css start*/

* {
    font-family: "Times New Roman", Times, serif;/* :) */
}

a.navbar-brand {
    white-space: normal;
    text-align: initial;
    word-break: break-all;
    position: absolute;
    top: 0;
}
.inline-navbar{
    margin-left:10px;
    display:inline-block;
}

a {
    color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
#scroll_to_top_button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #b31010;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 999;
    font-size: 24px;
    opacity: 0.7;
}

    #scroll_to_top_button:hover {
        background-color: red;
        opacity: 1;
    }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/*   default css end*/
/*navbar css start*/   
/*
    not: <a> taglerini bir classtan yönetmeyi başaramadım
    şimdilik ctrl+shift+H ile textlere toplu değiştirme uygulanabilir
*/
.navbarli {
    font-weight: normal;
}
.navbarli:hover {
    text-decoration: underline !important;
    text-decoration-color: white !important;
}
.navbarul {
    list-style: none;
    background: #b31010; /*navbar background color*/
    color: black;
    height:40px;
}
.navbarul .navbarli{
    display:inline-block;
    position:relative;
}
.navbarul .navbarli a{
    display:block;
    padding:20px 25px;
    text-decoration:none;
    text-align:center;
    font-size:20px;
}
.navbarul .navbarli ul.navbardropdown .navbarli{
    display:block;
}
.navbarul .navbarli ul.navbardropdown {
    width: 300%;
    background: #CF2E2E; /* navbar dropdown background color*/
    position: absolute;
    z-index: 999;
    display: none;
}
.navbarul .navbarli a:hover{
    background:#112C66;
}
.navbarul .navbarli:hover ul.navbardropdown {
    display: block;
}
/*Searchbar start*/
#navbaritemrightside { /*search bar list itemini sağa yaslar*/
 position: absolute; /* # işareti bunun bir id olduğunu belirtiyor*/
    top: 5px;
    right: 2% !important;
    align-items: center !important;
}
#navbaritemrightside:hover {
text-decoration: none !important;
}

.right_area_div {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search_form {
    display: inline-block;
    width: 50%;
}

.searchbarbutton {
    margin-right: 100px;
    height: 30px;
    width: 50px;
    background-color: transparent;
    border: none;
}
.girisyapbutton {
    align-self: center;
    border: none;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-left: 10px;
}

.login-button-text { 
    color: #b31010 !important;
}

    /*Searchbar end*/
    /*navbar css end*/
    /*footer start*/
.footersettings{
    background-color:#333333 !important;
}    
/*footer list start*/
.footerlist {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}
.footer_categories {
    font-weight: bold;
    width:25%;/*4 adet kategori olduğu için ekran 4'e bölünmüştür*/
    float: left;
    margin-bottom: 100px;
}
.footer_sub_list {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
.text_decoration_under_line_on_hover {
    margin: -40px 0px 0px 0px !important; /*margin sırası top right bottom left*/
    font-weight:normal;
    padding: 0px 0px 0px 0px !important;
    position: relative;
}
.text_decoration_under_line_on_hover:hover {
    text-decoration: underline !important;
    text-decoration-color: white !important;
}
/*footer list end*/
/*sosyal medya hesapları start*/
.contuct_and_privacy {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:15%;
    background-color: #333333;
    color:white !important;
}
/*sosyal medya hesapları end*/
/*social media icon start*/
.social_media_icon {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
/*social media icon end*/
    /*footer end*/
@media (max-width: 1062px) {  
    /* Ekran genişliği 1062 pikselden küçükse bu stil değişiklikleri uygulanır */
    /*1062 den küçük ekranlarda searchbar iletişim elemanını kapatmaya başlıyor*/
    .hide_navbar_elements_in_smaller_screen {
        display: none !important;
    }
}