<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Damper
        </h3>
        <p>
            Özel bir açık kamyon kasasıdır. Arkaya ve/veya yana devrilebilir (açılabilir yan panelli) bir platformu veya yandan sabit, genelde yüksek panelli, arkaya devrilebilir bir kasası bulunur. Damperler genelde inşaat sanayisinde, örn. kum taşımacılığında kullanılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Dağıtım
        </h3>
        <p>
            Satış kanalı dahilinde üreticiyle satıcı arasında ve satıcıyla tüketici arasında gerçekleşen süreçler, distribüsyon (lat. distributio = dağıtım) olarak adlandırılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Depo
        </h3>
        <p>
            Taşınabilir malların stoklandığı yer. Gerekli donanıma sahip bir depo öncelikli olarak malların karşılanması, komisyonu ve nakliyesi için kullanılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Depo borsası
        </h3>
        <p>
            Web tabanlı depo borsası, bir depo arama motorudur. Bu borsa aracılığıyla, boştaki depolara ve depo alanlarına aracılık edilir. Hizmet sunucular, platformu ilgili tüm bilgilerle birlikte serbest kapasitelerini düzenlemek için kullanılır. Malı olan fakat yeterli ve/veya uygun lojistik alanına sahip olmayan şirketler, bir borsa aracılığıyla lojistik alan ihtiyaçlarını karşılayabilir. Hedefe yönelik bir arama, depolanacak mala yeterli düzeyde uygun sonuçlar verir. Kullanıcı, bu amaçla depo türü, büyüklüğü veya yeri gibi depo kullanımı temelinde istediği kriterleri arama motoruna girer. Temel alınan sistem, kayıtlı boş depo kapasiteleri teklifi ve talep arasındaki uyuşmaları hesaplar. Web tabanlı bir depo borsası yardımıyla şirketler olası depo sıkıntılarını hızlı ve esnek şekilde giderebilir. Diğer taraftan, boşta bekleme süreleri önlenebilir ve kapasiteler daha iyi kullanılabilir. Depo borsasında uygun çözümleri bulma şansı, teklif havuzu ne kadar büyük ve kapsamlı olursa o oranda yüksek olur. Depo alanlarına sadece taşımacılık ve lojistik şirketleri ihtiyaç duymaz, bir depo borsası diğer sektörler için de ilginçtir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Depo kullanımı
        </h3>
        <p>
            Depo kullanımı, öncelikle bir depo bölümü veya depo alanının özelliklerine bağlıdır. Burada hangi malın depolanması gerektiğine bağlı olarak, depo alanları uygun şekilde donatılmış olmalıdır. Soğuk malların depolanması için, örneğin depolanan malın bozulmamasını sağlayan soğutma sistemli bir depo bölümüne ihtiyaç duyulur. Harici bir arşiv oluşturmak istenirse, profesyonel bir arşivleme sistemi sunan bir depo işletmecisi tercih edilmelidir. Bunun dışında, depo kullanımı yasal olarak zorunlu, güvenlik tekniğine yönelik gerekliliklere bağlıdır. Örnek olarak "Patlayıcı maddeler" sadece yaşam alanlarına ve ulaşım yollarına belirli koruma mesafelerinde bulunan depolarda saklanmalıdır. Burada sıkı yönetmelikler geçerlidir. Belirli ürünlerin veya malların depolanabilmesi için depolar yönetmeliklere uygun şekilde inşa edilmiş, düzenlenmiş ve emniyete alınmış olmalıdır. Ayrıca, eğitimli personel tekniğe uygun bir depolama yapılmasını sağlar. Depo çalışanları, malların düzgün şekilde alınması, indirilmesi ve kontrol edilmesinden sorumludur. Bunun dışında, kullanıma bağlı olarak bir depo alanının sıcaklık veya nem gibi koşulları da belirlenmiş olmalıdır. Ürünün nerede olduğunu her an görebilmek için, depo yönetimi yazılımı önemli bir yardımcı araç olarak kullanılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Depo lojistiği
        </h3>
        <p>
            Depo lojistiği, stokta tutma zorunluluğu olan işletmelerde lojistiğin bir kısmi alanıdır. Burada, malların depolarda sistematik olarak saklanması ve yönetilmesi söz konusudur. Şirketler, depo yönetimini optimize etmeye yönelik yardımcı araç olarak belirli lojistik yazılımları kullanılır. Bu sayede ürünün girişi, taşınması ve depolanması gibi süreçler daha rasyonel hâle getirilebilir. Depo lojistiği alanı için eğitimi alınan ayrı bir meslek de bulunmaktadır: Depo lojistiği uzmanı. Bu uzman, lojistik planlama ve organizasyondan sorumludur. Görevi; malları almak, sipariş işlemlerini tamamlamak, yüklemek, istiflemek, taşımak ve ambalajlamaktır. Mallar, duruma ve özelliklere (örnek olarak katı, sıvı, patlayıcı, zehirli, bozulabilir) göre ve tekniğe uygun şekilde depolanmalıdır. Bunun dışında, yasal spesifikasyonlar ve tur planları dikkate alınarak yükleme planları hazırlanmalıdır. Depo lojistiği, satın almadan satışa kadar malzeme, bilgi ve değer akışının düzenlenmesi ve iyileştirilmesini sağlar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Depolama
        </h3>
        <p>
            Depolama, malların depocu tarafından ticari amaçla saklanmasıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Dispozisyon
        </h3>
        <p>
            Ekonomi dünyasında dispozisyon, malların doğru zamanda ve doğru miktarlarda ulaştırılmasından sorumlu olan organizasyon birimidir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Dispozisyon sorumlusu
        </h3>
        <p>
            Dispozisyon (planlama) sorumlusunun görevi, nakliye acentelerinde araç filolarının güzergahlarını oluşturmak, düzenlemek ve takip etmektir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Dorse
        </h3>
        <p>
            Dorse (değişken yükleme alanı, değişken bavul, değişken depo, vb. olarak da bilinir), kamyonlar ve römorklar için taşıyıcı araçtan ayrılabilir, değiştirilebilen yük taşıyıcılarıdır. Esas olarak karayolu ve demir yolu mal trafiğinde kullanılırlar. ISO konteynırların aksine, dorseler EUR Epal paleti ölçüleri için kalibre edilmiştir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Dökme yük
        </h3>
        <p>
            Bu gruba, tahıl, kömür, maden, kum veya taşlar gibi yani parçalı veya granüllü gibi dökülebilir mallar girer.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Dökme yük taşma
        </h3>
        <p>
            Dökme yük, parçalı veya tanecikli malzemedir; bu malzeme, silolu araçlar, silolu kamyonlar veya semi treylerler gibi sürgülü tabana sahip özel taşıma araçları veya çuval içindeki mal olarak veya Bigbag içinde taşınır.
        </p>
    </div>
    @*word section end*@
</div>
