<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Özel malların taşınması
        </h3>
        <p>
            Özel mallar taşınmak istenirse, genellikle yardımcı araçlara ihtiyaç duyulur ve özel malların taşınması bir sorun oluşturabileceği için nakliye iyi organize edilmeli ve planlanmalıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Özel taşıma
        </h3>
        <p>
            Örneğin ağır yük taşımaları, büyük hacimli taşımalar veya zaman açısından kritik taşımalar bu kavram altında toplanır.
        </p>
    </div>
    @*word section end*@
</div>
