<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Vakum şeklinde çekilen mal
        </h3>
        <p>
            "Vantuzlar" vasıtasıyla boşaltılabilen yükleri kapsar. Bu gruba örn. tüm tahıllar girer.
        </p>
    </div>
    @*word section end*@
</div>