<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Ek gönderi
        </h3>
        <p>
            Ek gönderi, daha yüksek bir ihtiyaç temelinde artan talebi karşılamak için ek bir mal teslimatıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Elbise taşıyıcı kapalı kasa
        </h3>
        <p>
            Bu kasa türü, tekstil lojistiğindeki tekstil taşımacılığında kullanılır. Sağlam kamyon kasasının iç kısmı, değişken mesafelerde özel elbise askılarının sabitlenebildiği çubuklarla donatılmıştır. Bu çubuklarda giysi parçaları asılı olarak taşınır. Bu sayede,
        </p>
    </div>
    @*word section end*@
</div>