<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Optimum dispozisyon
        </h3>
        <p>
            Optimum bir dispozisyonda kamyonlar ve yükler dengedir, yani nakliye şirketinin araç parkı tam kapasitede çalışmaktadır ve tüm yükler için bir taşıma aracı hazır durumdadır. Optimum dispozisyon, ekonomik hareket eden her nakliye şirketi veya yük taşıyıcının hedefi olmalıdır. Bu durum, en iyi şekilde bir yük borsası kullanılarak sağlanır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Otomobil taşıma
        </h3>
        <p>
            Otomobil taşıma veya başka bir deyişle araç taşıma, örnek olarak otomobil binek araç, kamyon, arazi aracı, Van veya tedarik aracı gibi bir aracın özel dorseli (araç taşıyıcı kamyon) bir kamyon üzerinde taşınmasıdır.
        </p>
    </div>
    @*word section end*@
</div>
