<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Rota hesaplayıcısı
        </h3>
        <p>
            Rota planlayıcısı olarak da adlandırılır. Bu bilgisayar programları yardımıyla, başlangıç noktasından varılacak noktaya giden yol bulunabilir. Güzergah hesaplayıcıların çoğu yol masraflarını da hesaplar ve bunun yanı sıra, en hızlı ve en kısa güzergahı hesaplama gibi ek fonksiyonlara da sahipler.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Rulo
        </h3>
        <p>
            Rulo olarak sarılan metal bantlara verilen addır (Coil = İngilizce: rulo). Bu rulolar normalde çelik bant ruloları olarak piyasaya sürülse de, ham ürün çelik ruloları olarak da mevcuttur. Metalden imal edilmiş geniş yassı mamullerin ve alaşımların nakliyesi, üreticiden işleme sanayisine (örn. otomobil sanayisi) rulo (coil) hâlinde yapılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@

    @*word section start*@
    <div class="margin_10px">
        <h3>
            Rulo sac aracı
        </h3>
        <p>
            Ruloların kamyona sabitlenmesini sağlayan tutma tertibatı.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Römork
        </h3>
        <p>
            Yükleme alanı bulunmayan bir çekiciden ve (değiştirebilir) bir semi treylerden oluşur. Yani çekici, malları taşımaz; sadece malları taşıyan semi treyleri çeker. Bu yüzden “çekiç makinesi” tabiri de kullanılır.
        </p>
    </div>
    @*word section end*@
</div>
