<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tahsilat
        </h3>
        <p>
            "Tahsilat" (İtalyanca = "tahsil etme, toplama"), finans sektöründen gelen bir terimdir. Tahsilat çerçevesinde, vadesi dolmuş alacaklar, özellikle fatura karşılıkları tahsil edilmeye çalışılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tam yük
        </h3>
        <p>
            "Tam yük" işlerde müşteri, bütün bir kamyonu, tek bir alıcıya gidecek şekilde görevlendirir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@

    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tank
        </h3>
        <p>
            Tank, genelde kubik veya silindir şeklinde olan sıvıların depolanması için kullanılan bir konteynerdir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tanker
        </h3>
        <p>
            Tank, genelde kubik veya silindir şeklinde olan sıvıların depolanması için kullanılan bir konteynerdir.
        </p>      
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tautliner
        </h3>
        <p>
            Tautliner’in sabit yük panel duvarları bulunmaz. Bu tip kamyonlarda, yanlarda sürgülü brandalar ve entegre germe kemerleri bulunur. Bu brandalar bir perde misalı yandan çekilebilir; bu da özellikle büyük hacimli yüklerin yüklenmesini ve boşaltılmasını kolaylaştırır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Taşıma araçları
        </h3>
        <p>
            Taşıma araçları, mal taşımacılığı için kullanılan tek parçalı yük araçlarıdır. Şoför mahalli, tahrik sistemi ve yük bölümü birbirine bağlanmıştır. Genelde sadece birkaç ton taşıyabilirler ve uzak mesafe taşımacılığında çok az kullanılırlar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Taşımacılık barometresi
        </h3>
        <p>
            taşımacılık barometresi, bir pazar göstergesidir. Karayolu taşımacılığı alanındaki yük ve boş araç kapasitelerinin güncel teklif durumunu gösterir. Bu araç, fiyat pazarlıklarında ve pazar fiyatını belirlerken kullanılabilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Taşımacılık borsası
        </h3>
        <p>
            Bir taşımacılık borsası, genelde nakliyecilere ve yük taşıyıcılarına hitaben kurulan bir sanal taşımacılık pazarıdır. Nakliyeciler ve yük taşıyıcıları buradan, fazla veya eksik yük ve boş araç tekliflerini değerlendirerek kapasite kullanımlarını optimal düzeye getirebilirler.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Taşımacılık ilanları
        </h3>
        <p>
            Taşımacılık ilanları genellikle taşımacılık sektöründe gereklidir ve potansiyel taşımacılık hizmet sağlayıcılara ulaşma konusunda yardımcı olurlar. Bir ilanda ayrıntılı veriler belirtebilir ve sadece taşımacılık işiniz için ihtiyacınız olan hizmet sağlayıcıları bulabilirsiniz.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Taşımacılık internet sitesi
        </h3>
        <p>
            Taşımacılık internet sitesi, taşımacılık hizmetleri veren bir sağlayıcının Web sitesidir. Bu sitede, örneğin şirket, araç filosu veya servis hizmetleri hakkında bilgiler bulunabilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Taşımacılık iş emri
        </h3>
        <p>
            Bir nakliyeci bir turu kabul ettiyse, nakliye şirketi nakliyeciye uygun bir taşımacılık iş emri gönderir. Nakliyeci, örneğin gönderen/alıcı, ilgili zaman dilimini içeren veriler, yük parametreleri, tonaj, nakliye hakkındaki gerekli tüm numaralar ve mutabık kalınan taşıma fiyatı gibi önemli tüm bilgileri alır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Taşımacılık Web sitesi
        </h3>
        <p>
            Taşımacılık internet sitesi, taşımacılık hizmetleri veren bir sağlayıcının Web sitesidir. Bu sitede, örneğin şirket, araç filosu veya servis hizmetleri hakkında bilgiler bulunabilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Taşımacılık yönetim sistemi
        </h3>
        <p>
            Bir taşımacılık yönetim sistemi (TM sistemi), nakliyeciler için bir araçtır. Nakliyeci, taşımacılık yönetim sistemi ile yükleyiciden/üreticiden aldığı siparişleri düzenleyebilir ve yönetebilir. Bununla birlikte turlar ve rotalar planlanır. Araçlarının
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Taşıyıcı
        </h3>
        <p>
            Yük taşıyıcısı, yükün kara, su veya hava yolu üzerindeki taşımacılığını gerçekleştirir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tedarikçi
        </h3>
        <p>
            Tedarikçi, üretici için mal tedarik eder.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tehlikeli madde
        </h3>
        <p>
            ADR, anlaşmanın Fransızca adı olan „Accord européen relatif au transport international des marchandises dangereuses par route“nun kısaltmasıdır. Türkçe karşılığı ise: „Tehlikeli Maddelerin Karayolu ile Uluslararası Taşımacılığına İlişkin Avrupa Anlaşması“dır. Uluslararası bir terim olan ADR, taşımacılık sektöründe her ülkede neredeyse herkes tarafından bilenecek kadar yaygın bir kullanıma sahiptir.
            <br />
            <strong>
                Tarihçe
            </strong>
            <br />
            Anlaşma, 1957 yılında Cenevre'de imzalanmıştır ancak yürürlüğe geçmesi 1968 yılının Ocak sonunu bulmuştur. Anlaşma, en son teknik ve yasal gelişmeler dikkate alınarak, her iki yılda bir gereken şekilde yeniden düzenlenmektedir. Günümüzde tüm AB ülkeleri üye konumundadır; ADR, ilgili bir AB tüzüğü ile hukuken de geçerli duruma getirilmiştir. Bunun yanı sıra, diğer tüm Avrupa ülkeleri ve Fas, Tunus ve eski Sovyetler Birliği ülkelerinden birkaç Orta Asya devleti de anlaşmaya üye oldular. ADR anlaşmasının şu anki toplam üye devlet sayısı 48'dir. (Durum 6/2017).
            <br />
            <strong>
                Direktifler
            </strong>
            <br />
            Tehlikeli madde taşıyan her kamyon şoförü, resmi adı "ADR Mesleki Yeterlilik Eğitim Belgesi" olan tehlikeli madde taşıma belgesine sahip olmalıdır. Bu belgenin geçerlilik süresi beş yıldır ve geçerlilik süresi dolmadan önce uzatılmaması durumunda otomatik olarak geçerliliğini yitirir. Belgenin uzatılması için, şoförün bir bilgi tazeleme kursunu başarıyla geçmesi gerekmektedir.

            Düzenli olarak tehlikeli madde taşıyan her şirket, şirket bünyesinde en az bir tehlikeli madde danışmanı bulundurmak zorundadır. Bu kişi, tehlikeli madde taşımacılığına ilişkin kurallara ve yönetmelikleri uyulmasından sorumludur.

            Tehlikeli madde taşıyan her kamyon, özel donanıma sahip olmalıdır. Bu donanım arasında açılabilir ve katlanabilir turuncu ikaz levhaları, kask ve koruyucu gözlük ve de iki adet yangın söndürme aygıtı bulunmalıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tehlikeli madde taşıma
        </h3>
        <p>
            Tehlikeli maddeler, bileşimleri nedeniyle bir tehlike teşkil eden maddeler veya nesnelerdir. Bu tür yüklerin taşınması sırasında özel yönetmeliklere dikkat edilmeli ve taşıma işlemi bir tehlike panosu, notlar ve büyük notlarla işaretlenmelidir. Bu sayede, tehlikeli madde taşıyan bir araçla bir kaza olması durumunda, taşınan yükün bileşimi ve bu yükün neden olduğu tehlike belirlenebilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tehlikeli yük
        </h3>
        <p>
            Taşınması tehlikeli olan malların toplamı. Bunlara örn., radyoaktif, patlayıcı, kolay yanan, zehirli veya asitli kimyasallar girer.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tele Tente ( 30 metreye açılan araçlar )
        </h3>
        <p>
            Bir tele tente, yük alanı uzunluğunun değiştirilebildiği bir treylerdir. Bu şekilde, örneğin demir kiriş, kanat ve rüzgar jeneratörü gibi çok uzun mallar, kullanım yerine monte edilmiş durumda teslim edilebilir. Uzunluk, dorse dışarıya veya içeriye doğru itilerek her yükte özel olarak adapte edilebilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tender
        </h3>
        <p>
            Tender, İngilizcede ilan için kullanılan sözcüktür. Bir ilan, potansiyelin talep edilmesi için kullanılan yöntemin parçasıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tente
        </h3>
        <p>
            Tente, kamyondaki bir kapama aracıdır. Hava şartlarına karşı koruma sağlamak için, platform tipi taşıtlarda örn., mallar tentenin altına yüklenir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tente (kamyon kasa türü)
        </h3>
        <p>
            Tente, kamyondaki bir kapama aracıdır. Hava şartlarına karşı koruma sağlamak için, platform tipi taşıtlarda örn., mallar tentenin altına yüklenir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Tente / sürgülü tavan
        </h3>
        <p>
            Bir tente, bir akordeon gibi çalışan bir kamyon tentesidir. Bu tenteyle, dorsenin tavanı açılabilir/kaydırılabilir. Bu sayede, örneğin vinç kullanılarak malların üstten yüklenmesi ve indirilmesi olanağı oluşur.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Termo
        </h3>
        <p>
            Isıya duyarlı, genelde sıcak veya çok sıcak tutulması gereken malların taşımacılık türüne verilen addır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Ticari araçlar
        </h3>
        <p>
            Ticari araçlar: Ticari araçlar, ticari insan taşımacılığı veya mal taşımacılığı için kullanılan tüm motorlu taşıtlardır. Bunlar, esas olarak kamyonlar ve otobüslerdir. Bunun dışında, römork ve semi treylerler gibi motorlu araç formları da motorlu taşıtlara dahildir.
        </p>
    </div>
    @*word section end*@
</div>
