<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Geri yük
        </h3>
        <p>
            Yük kavramı; kamyon, binek araç, gemi, tren veya uçak gibi bir taşıma aracının yükleme bölümü veya yükleme bölümlerindeki malların tümünü tanımlar. Yükün varış noktasında mallar indirilir. Burada taşıma aracının başlangıç noktasına götürülecek yeni yükler araca yüklenir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Gönderen
        </h3>
        <p>
            Gönderen, genellikle bir taşımacılık hizmet sağlayıcısının iş verenidir. Taşımacılık hizmet sağlayıcı, taşınacak malı gönderenden alır ve alıcıya taşır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Güzergah planlaması
        </h3>
        <p>
            Taşımacılık işlerinin organizasyonuna (ya manüel olarak yapılır ya da güzergah planlama yazılımı yardımıyla) verilen ad. İşler araçlara, gidilecek yolun masrafları ve süresi en aza indirilecek şekilde dağıtılır.
        </p>
    </div>
    @*word section end*@
    </div>