<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yakıt taşıma
        </h3>
        <p>
            Yakıt taşımada, yakıtın taşınması için izin verilmiş ve tasarlanmış taşıma araçları kullanılmalıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yapı taşımacılığı
        </h3>
        <p>
            Yapı taşımacılığı; asfalt, moloz veya iş makineleri gibi yüklerin taşındığı bir taşıma türüdür. Burada taşınan malzemelere bir şantiyede ihtiyaç duyulur.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yatık yüklemeli
        </h3>
        <p>
            Yatık yüklemeli araçlar, örn. çelik halkalar veya geniş saclar gibi aşırı geniş malların taşınması için kullanılır. Yüklenecek malın genişliği, yatık yükleme ile ciddi oranda azaltılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yield management
        </h3>
        <p>
            Genellikle "Verim yönetimi" olarak da adlandırılır. Kontenjan belirlemeyi temel alan özel bir fiyat farklandırması söz konusudur, yani yani münferit ürünlerin belirli bir miktarı belirli bir fiyata sahiptir. Bu kontenjan dolunca, aynı mallar başka (genellikle daha yüksek) fiyatlarla kullanıma sunulur. Doğru uygulandığında Yield Management, dalgalı taleplerde de eşit bir kapasite kullanımına olanak sağlar ve belirli bir hizmet biriminin toplam verimini maksimize eder. Yield Management'ın kaynağı hava taşımacılığı sektörüdür, fakat zaman içinde taşımacılık sektöründe de uygulanmaktadır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yol geçiş ücreti
        </h3>
        <p>
            Sokakların, otoyolların, tünellerin ve köprülerin kullanımı karşılığında ödenen yol geçiş ücretidir. Karayolu trafik kesintisi veya yol ücreti kullanımlarına da rastlanılmakta.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yurtiçi trafik
        </h3>
        <p>
            Yurtiçi trafik, ülke sınırlarının dışına çıkmayan ve sadece bir ülke dahilindeki ulusal trafiği tanımlar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük
        </h3>
        <p>
            Bu kavramla, bir taşıyıcının veya nakliyecinin taşıma için hesapladığı bedel tanımlanmaktadır. Fakat günlük konuşma dilinde ise bir nakliye şirketi ile gönderici arasında varılan sözleşme uyarınca nakliyeci tarafından teslim alınan her türlü mal da tanımlanır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük arama
        </h3>
        <p>
            Yük arama, yüke göre örneğin sürücüler, nakliye şirketleri ve nakliyecilerin hedefe yönelik olarak aranmasıdır. Bir ekranda, tercihlerinizi girebilir ve ekranınızda yükleme seçeneklerin görebilirsiniz.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük borsaları
        </h3>
        <p>
            Yük borsaları genelde nakliyeciler ve taşıyıcılar için sanal bir pazarlardır. Borsa kullanıcıları, henüz bir taşıma olanağı mevcut olmayan yüklerini burada sunabilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük borsası
        </h3>
        <p>
            Bir yük borsası yük borsası, genelde nakliyeciler ve taşıyıcılar için sanal bir pazardır. Borsa kullanıcıları, henüz bir taşıma olanağı mevcut olmayan yüklerini burada sunabilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük boşaltma yeri
        </h3>
        <p>
            Malların boşaltıldığı veya teslim alındığı noktanın (teslimat noktası) adıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük komisyonculuğu
        </h3>
        <p>
            Yükün zamanında bir yere ulaşması için, yük komisyonculuğunda, yükün taşınması için uygun bir hizmet sağlayıcının bulunması sağlanır. Bu tür bir yük komisyonculuğu bir yük borsasında organize edilebilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük komisyoncusu
        </h3>
        <p>
            Yük komisyoncusu, yükün taşınması için yükün zamanında uygun bir hizmet sağlayıcıya iletilmesini sağlar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük taşımacılığı
        </h3>
        <p>
            Yük taşımacılığı, genelde çeşitli yüklerin bir yerden başka bir yere taşınmasıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük taşıyıcısı
        </h3>
        <p>
            Yük taşıyıcısı, yükün kara, su veya hava yolu üzerindeki taşımacılığını gerçekleştirir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük teklifleri
        </h3>
        <p>
            Bir kişinin başka bir kişi tarafından ücret karşılığı taşınması gereken bir yük sunması durumunda, iş veren bir yük teklifi hazırlar. Bu teklifte, malı veya taşımacılığı tam olarak belirleyebilir ve örneğin hangi araç tipine ihtiyaç duyduğunu belirtebilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yük ve Boş Araç Borsası
        </h3>
        <p>
            Bir yük ve boş araç borsası , genelde nakliyecilere ve yük taşıyıcılarına hitaben kurulan sanal taşımacılık pazarıdır. Nakliyeciler ve yük taşıyıcıları buradan, fazla veya eksik yük ve boş araç tekliflerini değerlendirerek kapasite kullanımlarını optimal hale getirebilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yükleme metresi
        </h3>
        <p>
            Kamyon taşımacılığında kullanılan normlu bir birim. Bir yükleme metresi, kamyonun uzunlamasından yola çıkarak kasanın bir metresidir. Kamyonun yaklaşık 2,40 m olan genişliğinden ötürü 1 yükleme metresi yaklaşık olarak 2,4 m²’dir (2,40 m en x 1 m uzunluk).
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yükleme Metresi (Hacim)
        </h3>
        <p>
            Kamyon taşımacılığında kullanılan normlu bir birim. Bir yükleme metresi, kamyonun uzunlamasından yola çıkarak kasanın bir metresidir. Kamyonun yaklaşık 2,40 m olan genişliğinden ötürü 1 yükleme metresi yaklaşık olarak 2,4 m²’dir (2,40 m en x 1 m uzunluk).
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yükleme yeri
        </h3>
        <p>
            Yükleme yeri, malın bir trafik katılımcısına yüklendiği yerdir. Genellikle burada bir çıkış noktası söz konusudur.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yükler
        </h3>
        <p>
            Bir yük; gemi, tren veya karayolu ile taşınan bir kargodur.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Yükleyici
        </h3>
        <p>
            Yükleyici genel olarak, bir lojistik hizmet sağlayıcısından lojistik hizmet talebinde bulunan şirket anlamındadır. Üretim ve ticaret alanında faaliyet gösteren şirketler yükleyici olarak tanımlanmaktadır.
        </p>
    </div>
    @*word section end*@
</div>