<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Mafsallı (körüklü) çekici
        </h3>
        <p>
            Römorkun ön dingili, bir döner tablo üzerine monte edilmiş kamyon. Mafsallı (körüklü) kamyonun hem römork bağlantısında hem de döner tabloda ayrı ayrı döner noktaları bulunması sayesinde virajların alınması kolaylaşır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Mal
        </h3>
        <p>
            Bir malı, yani sadece satış veya değiş tokuş ile temin edilebilen ve insan ihtiyaçlarını tatmin eden bir şey (ürün, maddi mal, mahsul).
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Mazot flatörü
        </h3>
        <p>
            Bir mazot flatörü, dalgalı mazot fiyatlarının etkisini gidermek için kullanılır. Bu konuda, taşımacılık hizmet sağlayıcısı ve müşteri arasında özel olarak mutabık kalınır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Mega (Mega treyler)
        </h3>
        <p>
            Bir Mega treyler, semi treylerin özel bir formudur. Özellikle yüksek hacimli ve nispeten düşük ağırlıklı yükler için uygundur. Klasik semi treylerlere oranla Mega treylerler 3 metreye kadar bir yükleme yüksekliğine sahiptir. Büyük yükleme hacmi nedeniyle otomotiv endüstrisinde sıkça kullanılırlar.
        </p>
    </div>
    @*word section end*@
</div>