<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Bildiri
        </h3>
        <p>
            Bir tedarik bildirisinde, ilgili taşımacılık şirketi, indirme noktasında gerekli düzenlemelerin yapılabilmesi için aracın yaklaşık varış zamanını, malın ağırlığı veya hacmiyle birlikte mevcut ürünlerin sayısını alıcıya önceden bildirir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Binek araç
        </h3>
        <p>
            Binek araç, kendi tahrik sistemine sahip ve çok şeritli yollarda hareket eden karayolu taşıtıdır. Ağırlıklı olarak insanların taşınması için kullanılırlar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Boş araç borsası
        </h3>
        <p>
            Bir boş araç borsası, genelde nakliyecilere ve yük taşıyıcılarına hitaben kurulan sanal taşımacılık pazarıdır. Nakliyeciler ve yük taşıyıcıları buradan, fazla veya eksik boş araç tekliflerini değerlendirerek kapasite kullanımlarını optimal düzeye getirebilirler! Salt boş araç borsaları nadiren görülür, genellikle kullanıcıların boş araç kapasiteleri yanında yükler üzerinde de pazarlık edebilecekleri yük ve boş araç borsaları ile birleştirilirler.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Boş seyirler
        </h3>
        <p>
            Boş seyir, bir taşıma aracının herhangi bir yük olmadan yaptığı seyirdir. Yani bir kamyonun yük olmadan gerçekleştirdiği tüm seyirler, boş seyirlerdir. Bu seyirler ciddi maliyetlere neden olabilir. GNY firması, bu konuda yardım sunmaktadır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Büyük hacimli mallar
        </h3>
        <p>
            İstiflenemeyen, sadece “çok yer kaplayan”, büyük hacimli veya büyük boyutlu ürünler veya mallar grubu.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Büyük hacimli taşıma
        </h3>
        <p>
            Büyük hacimli taşıma sırasında, ölçülere uygun olmayan taşımacılık ürünleri taşınır. Ölçülere uygun olmayanın anlamı, yüksekliği, genişliği veya uzunluğu aşırı olandır.
        </p>
    </div>
    @*word section end*@
    </div>