<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Lojistik
        </h3>
        <p>
            Lojistik, sipariş başlangıcından müşteriye teslimata kadar gerçekleşen mal hareketi dahilindeki sürecin tamamıdır. Tüm planlama, yürütme ve kontrol işlemleri olduğu gibi, yük sürecinin optimizasyonunun sağlanmasına ilişkin çalışmalar da buna dahildir. Lojistiğin alt birimleri ise şunlardır: Temin etme, depolama, taşımacılık, üretim, distribüsyon ve bertaraf lojistiği.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Lojistik 4.0
        </h3>
        <p>
            Logistik 4.0, ağla birleştirme, dijitalleştirme ve Cloud bilgisayar sistemleri gibi uygulamaları içeren en son lojistik teknolojisini içerir. Bu aynı zamanda şu demek oluyor: artık lojistikçinin görevi -eskiden olduğu gibi- yalnızca nakliyat işlerini kapsamıyor; artık tüm tedarik zincirinin işlevler ve şirketler arası koordinasyon işlevleri de dikkate alınıyor.
            <br />
            Terimin anlamı
            Logistik 4.0 terimi, ilk kez 2011 Hannover Uluslararası Ticari Araçlar Fuarı ile gündeme gelen Industrie 4.0 teriminden esinlenerek oluşturuldu. Bundan yolda çıkarak, dördüncü sanayi devrimi yaşıyoruz. İlki buhar gücünün kullanılması ile meydana geldi, ikinci elektrik enerjisinin ve fabrika bantlarının kullanımıyla. Üçüncü sanayi devrim ise -dijital devrim olarak da bilinir- üretimde otomatizasyona geçilmesi ve örneğin belleği programlanabilir kumanda ünitelerinin devreye sokulması ile meydana geldi.
            <br />
            Logistik 4.0 bu eğilimi, en son bilgi-işlem ve iletişim teknolojilerinden faydalanarak daha da ileriye taşıyor. Akıllıca ve dijital olarak ağla birleştirilmiş sistemler sayesinde insanlar, makineler, tesisler, lojistik ve üretim doğrudan birbiriyle iletişim kurabiliyor. Lojistiği mümkün olduğunca erken bir noktada tedarik zincirine entegre ederek, vaktinde üretim optimizasyonu sağlanır. Ayrıca nakliyatçılar için de daha güvenilir planlama güvencesi, filo kapasitelerini daha iyi kullanabilme ve yükleme noktalarında daha kısa bekleme süreleri elde edilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Lojistik alanı borsası
        </h3>
        <p>
            Bir depo borsası ile uygun depo ve lojistik alanları teklif edilebilir ve bulunabilir.  Boşlukların azaltılmasına, kapasite kullanımının iyileştirilmesine sıkıntıların esnek şekilde giderilmesine yardımcı olur.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Lojistik yönetimi
        </h3>
        <p>
            Lojistik yönetimi, lojistik alanındaki çeşitli süreçleri ve akışları planlar ve organize eder.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Lojistik zinciri
        </h3>
        <p>
            Bir ürünün, üreticiden nihai müşteriye kadar yolunu bulabilmesi için gereken tüm çalışma faaliyetlerinin toplamıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Lovbed
        </h3>
        <p>
            Lovbed, esas olarak ağır veya hacimli malların taşınması için kullanılır. Bu adın verilme nedeni, yükleme alanının çok düşük olmasıdır. Bu sayede, örneğin alt geçit, tünel, elektrik hatlarının, vb. altından yüksek mallarla da geçilebilir ve yükleme için bir rampaya ihtiyaç duyulmaz.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            LTL
        </h3>
        <p>
            Bir kamyonun parsiyel yükü, LTL (Less Than Truckload/Tam kamyon yükünden az) olarak adlandırılır. Nakliyatın kâr bırakmasının sağlanması amacıyla, yükü az olan kamyonlar için genelde ek parsiyel yükler aranır. Parsiyel yük yerine birleştirilmiş gönderiler de bir alternatif oluşturabilir.
            <br />
            Aynı ağırlığa ve hacme sahip komple yük ile karşılaştırıldığında nakliyatçının çok sayıda parsiyel yük ile teorik olarak daha fazla para kazanması mümkün olsa da her yeni yük doldurma ve indirme noktasında oluşabilecek bekleme süreleri, toplam nakliyat süresinin oldukça uzamasına yol açabilir. Bu yüzden vaktinde ulaşması gereken acil yüklerde bir kamyonun belirli bir güzergahı yük kapasitesi tamamlanmamış şekilde, sadece parsiyel yük taşıyarak gitmesi de mümkündür.
            <br />
            Bir konteynerin parsiyel yükü, LCL (Less Than Truckload/Tam kamyon yükünden az) olarak ifade edilir.
        </p>
    </div>
    @*word section end*@
</div>