<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Çevre koruması
        </h3>
        <p>
            "Çevre koruması" koruması kavramı altında, çevreye zararlı etkilerin önlenmesi ve ortaya çıkan hasarların tamamen veya en azından kabul edilebilir bir ölçüde geri alınması için uygun olarak tüm önlemler bir araya getirilmiştir. Taşımacılık sektöründe çevre koruması, öncelikle emisyon korumasıdır. Tam kapasiteyle çalışan araçlar boş seyirleri ve bununla birlikte anlamsız egzoz gazı emisyonlarını önlediği için, çevre korumasına katkıda bulunmuş olursunuz. GNY Boş seyirlerin önlenmesine yönelik çok verimli bir araç, yük borsalarıdır.
        </p>
    </div>
    @*word section end*@
</div>
