<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Şirket portresi
        </h3>
        <p>
            Bu kavram, önemli şirket aktivitelerinin kısa bir özetini tanımlar. Bir şirket portresi veya profili yardımıyla potansiyel iş ortakları, hangi şirketle iletişim kurmanın işe yarayacağını hızlı şekilde belirleyebilir.
        </p>
    </div>
    @*word section end*@
</div>
