<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Sabit tarih
        </h3>
        <p>
            Anlaşılan taşımacılık işi kapsamında yükün kamyona doldurulması veya indirilmesi için belirli bir tarih kararlaştırıldığında sabit tarihten söz edilir. Böyle bir durumda termine uyulması, sözleşmeden doğan yükümlülükler arasında yer alır.

            Terimin anlamı
            Sabit tarih yerine eskiden "mühletli mal" terimi kullanılırdı. Üst kavram ise "sabit iş"tir.

            Günlük uygulamalarda
            Sabit tarihler daha çok yükün indirilmesi için kararlaştırılır, yükün doldurulmasındaysa daha az kullanılır. Genelde belirlenen sabit tarih, özellikle yükün ne zamana kadar en geç müşteriye teslim edilmiş olması gerektiğini gösterir. Kamyonun daha erken gelmesi durumunda termin yerine getirilmiş sayılır. Ancak daha erken teslimatın kabul edilmediği sabit tarih uygulamaları da mevcuttur. Bu farklı nedenlerden kaynaklanabilir: Yükün indirilmesi için sipariş verilecek vincin yerinde bulunması, kamyonun geçebilmesi için sokağın kapatılması gerekebilir. Sabit tarihler ayrıca sıkı zaman penceresi yönetimi gerektiren durumlarda da kullanılır. Böylece yük rampasındaki uzun bekleme süreleri önlenir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Silo
        </h3>
        <p>
            Silo, dökme yükünün saklanması için kullanılan büyük bir depodur. Örn. tarımda, yüksekliği 10m ila 20m arasında değişen silolar tahılların saklanması için kullanılır. Silolar genelde çelik, taş, beton, ahşap veya plastikten üretilmiş, silindir şeklindeki yapılardır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@

    @*word section start*@
    <div class="margin_10px">
        <h3>
            Sipariş onayı
        </h3>
        <p>
            Bir nakliye firması uygun bir iş emrini kabul ederse, işi alan şirket tarafında bunu iş verene yazılı olarak onaylama olanağı bulunmaktadır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Soğuk taşıma
        </h3>
        <p>
            Soğuk taşımada, örneğin gıda maddeleri gibi soğuk taşınması gereken yükler taşınır. Bunun için kamyonlar soğutma teknolojisi eklenerek üretilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Soğuk Yük
        </h3>
        <p>
            Soğutmalı (frigorifik) olarak taşınması gereken mallar. Bunlara örn., sebze gibi gıdalar veya ilaçlar ya da farmakoloji ürünleri girer.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Soğutmalı yük
        </h3>
        <p>
            Soğutmalı (frigorifik) olarak taşınması gereken mallar. Bunlara örn., sebze gibi gıdalar veya ilaçlar ya da farmakoloji ürünleri girer.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Spot pazar
        </h3>
        <p>
            Spot pazar, bir işin kısa bir zaman dilimi içinde tamamlanması gereken ekonomik yerdir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Sözleşme pazarı
        </h3>
        <p>
            Sözleşme pazarı , karmaşık lojistik hizmetleri üzerinde uzun vadeli sözleşmelerin yapıldığı ekonomik alandır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Sözleşmeli lojistik
        </h3>
        <p>
            Sözleşmeli lojistik , bir mal üreticisi veya satıcısı ile lojistik hizmet sağlayıcısı arasında bir hizmet sözleşmesi (kontrat) kapsamında yüksek bir iş hacminin oluştuğu uzun bir işbirliğini temel alan bir iş modelini tanımlar. Burada, sözleşmeli lojistik
        </p>
    </div>
    @*word section end*@
</div>
