<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Hayvan taşıma
        </h3>
        <p>
            Hayvan taşıma kavramı, canlı hayvanların kamyon, binek araç, tren, gemi veya uçakla taşınması için kullanılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Hayvan vinçli taşıma
        </h3>
        <p>
            Hayvan vinçli taşıma kavramı, canlı hayvanların kamyon, binek araç, tren, gemi veya uçakla taşınması için kullanılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Hub
        </h3>
        <p>
            Taşımacılık sektöründe, tüm malların toplandığı ve ulaştırılacak yerlere göre ayrılıp, ona göre araçlara yüklendiği merkezi aktarma noktasına ‘hub’ denir.
        </p>
    </div>
    @*word section end*@
</div>