<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Filo yönetimi
        </h3>
        <p>
            Araç filolarının (kamyon, binek araç, gemi, tren) hedefe uygun şekilde düzenlenilmesini, kumanda edilmesini ve takibini kapsar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Forklift
        </h3>
        <p>
            Forkliftler, genellikle paletlerin ve kafesli kasaların taşınması için kullanılan, motor tahrikli taşıma araçlarıdır. Bu araçlar, depolarda taşıma araçlarının yüklenmesi ve boşaltılması için işletme içi ürün taşıma için kullanılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Frigo taşımacılık
        </h3>
        <p>
            Soğutmalı ve buzlu taşımacılığa verilen addır (Latince frigor = soğukluk)
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            FTL
        </h3>
        <p>
            FTL (Full Truck Load / Tam kamyon yükü) kavramı, kamyonun yük kapasitesinin tam olarak doldurulduğu, tek bir yükü taşıdığı nakliyatlar için kullanılır. Bunun Türkçe karşılığı komple yüktür.

            Komple yük taşımacılığı, hem şoför hem nakliyat şirketi sahibi hem iş veren için oldukça rahattır. Nakliyat şirketi sahibi için bu sayede, örn. ihbar, faturalama ve yük yükleme ve indirme sırasındaki bekleme süreleri sonucunda meydana gelen ek masraflar oluşmaz. Sürücü, yükün doldurulması ve indirilmesi ve yüklenmiş yükün emniyetinin sağlanması gibi işlemler için daha az vakit harcar. İşveren için de şu avantajı beraberinde getirir: FTL, taşınacak yükü, herhangi bir aktarma yapılmadan, yükleme noktasından alıcıya doğrudan ulaştırmanın en hızlı nakliyat seçeneğini oluşturur.

            FTL'nin zıddı, LTL (Less Than Truckload) olarak da bilinen parsiyel yüktür. Dolu bir konteyner, FCL (Full Container Load) olarak adlandırılır. Demiryolları taşımacılığında vagon yükü terimi kullanılır.
        </p>
    </div>
    @*word section end*@
</div>