<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Acil taşıma
        </h3>
        <p>
            Bu taşıma türünde, iş emirleri kısa sürede ve zaman baskısı altında verilir. Ürünler veya malların belirli bir zaman dilimini içinde mümkün olduğunca hızlı şekilde bir yerden başka bir yere taşınması gerekir. Bu taşıma şekliyle spot pazarlarda çok sık
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Acil yük
        </h3>
        <p>
            Acil yük, kısa süre içinde bir yerden başka bir yere taşınması gereken mallardır. Bu tür bir taşımacılık, KEP sektörünün (kurye, ekspres ve paket hizmetleri) parçasıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Alıcı
        </h3>
        <p>
            Alıcıda mallar indirilir veya kabul edilir. Yani, burası malın teslimat adresidir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Araç taşıma
        </h3>
        <p>
            Araç taşıma, örneğin binek araç, kamyon, arazi aracı, Van veya tedarik aracı gibi araçların özel dorselerle taşındığı taşıma türünü açıklar
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@   
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Araç taşıyıcı kamyon
        </h3>
        <p>
            Araç taşıyıcı kamyon, araçların taşınması için tasarlanmış bir araçtır. Araç taşıyıcı kamyonlar, hidrolik olarak dişli millerle çalıştırılan çeşitli kaldırma platformlarına sahiptir. Ağır yük taşımacılığında sekiz ve on araç yüklenebilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            At taşıma
        </h3>
        <p>
            At taşıma, canlı atların kamyon, binek araç, tren, gemi veya uçakla taşındığı hayvan taşımacılığının özel bir formudur. Özel at nakliye şirketleri, atları (en azından: yarış atları, damızlık atlar veya satılacak atlar) profesyonelce taşıma hizmeti sunar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Açık kamyon veya açık taşıyıcılar
        </h3>
        <p>
            Dispozisyonda, belirli bir turda henüz bir yük verilmemiş olan (kısmen) boş kamyonlar varsa "açık kamyon" veya "açık taşıyıcılar" söz konusudur. Yani yükler aranmaktadır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Açık yükler
        </h3>
        <p>
            Dispozisyonda, belirli yükler için henüz bir depo alanı bulunmaması durumunda "açık yükler" söz konusudur, yani kamyonlar aranmaktadır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Ağaç taşıma
        </h3>
        <p>
            Ağaç taşımada, kütük ağaçlar taşınır. Bu amaçla, bunun için izin verilmiş ve geliştirilmiş olan uzun ağaç kamyonları kullanılır. Ek olarak, ağaç yeterli düzeyde emniyete alınmalı ve yük, kamyonun izin verilen azami ağırlığını aşmamalıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Ağır yük
        </h3>
        <p>
            Aşırı ağır veya olağandışı uzun, geniş veya yüksek yükler; bunlar örn. vinç veya kaldırma tertibatı kullanılmaksızın taşınmaz.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Ağır yük taşıma
        </h3>
        <p>
            Ağır yük taşıma sırasında, aşırı ağır mallar taşınır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Ağır yük taşımacılığı
        </h3>
        <p>
            Taşıma için vinç veya kaldırma mesnetlerine ihtiyaç duyan aşırı uzun, ağır, geniş veya yükler taşınır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@














</div>
