<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Ulusal trafik / ülke içi trafik
        </h3>
        <p>
            Ülke içi trafik olarak da adlandırılan ulusal trafikte, mallar bir ülkenin sınırları dahilinde taşınır, örnek olarak yükleme ve boşaltma noktası aynı ülke içindedir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Uluslararası nakliye
        </h3>
        <p>
            Uluslararası nakliyede, yükler ülke sınırları dışına taşınır. Çeşitli ülkelerden nakliye şirketlerinin ve yük taşıyıcıların tekliflerini yayınladığı yük borsası, uluslararası iş emirlerini güvenceye almak konusunda basit bir yol sunar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Uluslararası nakliye şirketi
        </h3>
        <p>
            Küreselleşme çağında, malların uzun mesafelere taşınması giderek daha da önemli oluyor. Bir uluslararası nakliye şirketi, tüm yetkiler ve yükümlülüklerle birlikte ülke sınırları dışına taşıma işlemini organize eder ve bununla birlikte sipariş sahibi ve yük taşıyıcı arasındaki bağlayıcı öğeyi oluşturur. İşin oluşması durumunda, uluslararası nakliye şirketi bir marjla navluna katılır. Teklifler, örneğin uluslararası yük borsalarından alınır. Normal taşımacılık işinde, bir uluslararası nakliye şirketi malların depolanması veya komple evrak ve gümrük işlemlerinin yapılması gibi ek lojistik hizmetleri sunar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Uluslararası taşıma
        </h3>
        <p>
            Uluslararası taşıma dünya genelinde taşır ve ülke sınırlarının dışına çıkar.
        </p>
    </div>
    @*word section end*@
</div>