<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Nakliye
        </h3>
        <p>
            Nakliye, çeşitli malların veya insanların araçlar yardımıyla bir yerden diğerine taşındığı bir trafik alanıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Nakliye acentesi
        </h3>
        <p>
            Bir nakliye acentasi, mesleki açıdan kendi adına, taşımacılık hizmeti vermeden malların iş veren için taşınmasını üstlenen bir şirkettir. Malların sevkiyat türüne bağlı olarak, demiryolu, kamyon, gemi veya uçakla taşımacılık hizmetleri satın alınır. Sınırların aşıldığı düşünüldüğünde, ithalat nakliye şirketi, ihracat nakliye şirketi ve uluslararası nakliye şirketi ayrımı yapılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Nakliye komisyonculuğu
        </h3>
        <p>
            Nakliye komisyonculuğunda, açıktaki taşımacılık işleri uygun hizmet sağlayıcılara verilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Nakliye taciri ve lojistik taciri / nakliye taciri
        </h3>
        <p>
            Nakliye tacirleri ve lojistik tacirleri (daha önce: nakliye taciri), nakliye şirketlerinde ve lojistik şirketlerinde çalışırlar. Malların gönderilmesini, depolanmasını ve yerlerinin değiştirilmesi organize eder ve karayolu/lojistik hizmetleri satarlar. Malların karayolu ve demiryolu üzerinde taşınmasıyla ilgilenirler veya gemicilik ve havayolu taşımacılığı şirketlerindeki paket ve kurye hizmetlerinde çalışırlar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Nakliye şirketi
        </h3>
        <p>
            Nakliye şirketleri, ürünlerin taşınmasını organize eden hizmet sağlayıcılardır. Nakliye şirketlerinde giderek daha geniş uzmanlaşmış bir bant genişliği oluşmaktadır; hava, tren, gemi, kamyon ve yurtiçi taşıma şirketlerinden toplu mal, gümrüklü mal, gıda ve proje nakliye şirketlerine kadar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Nakliye şirketleri
        </h3>
        <p>
            Nakliye şirketleri, her tür yükün ve malın taşınmasıyla ilgilenir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Nakliyeci
        </h3>
        <p>
            Nakliyeci (speditör), ürünlerin veya malların bir yük taşıyıcı ile taşınmasını organize eden bir tüccardır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Navigasyon
        </h3>
        <p>
            Bu kavram, Latinceden (navigare = bir geminin yönetilmesi) türetilmiştir ve yolunu bulmak/yönetmek anlamında kullanılır. Taşımacılık sektöründe navigasyonun anlamı, kamyonla hedefe yönelik sürüştür. Kavram, geniş anlamda bir yük borsasından faydalanma sırasında da kullanılır; burada, navigasyon olarak genellikle kendi kendini açıklayan, programın gösterdiği yol anlaşılır.
        </p>
    </div>
    @*word section end*@
</div>
