<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kabotaj
        </h3>
        <p>
            Bir yurtdışı taşımacılık şirketi bir ülke dahilinde ücret karşılığı taşımacılık hizmetleri verirse (AB üyesi ülke), bu işlem kabotaj olarak adlandırılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kaldırma aracı / transpalet
        </h3>
        <p>
            Transpalet olarak da adlandırılan bir kaldırma aracı, uygun bir tahrik ünitesi ile veya tahrik ünitesi olmadan çalışan bir taşıma aracıdır. Bu araç, paletlerin veya kafesli kasaların taşınması için kullanılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kalite damgası
        </h3>
        <p>
            Kalite damgası (kalite mührü olarak da adlandırılır), ürünün kalitesi hakkında genellikle olumlu bir ifade içeren, ürünlerdeki grafik veya yazılı işaretlerdir. Genellikle özel bir bilinirlik derecesine sahiptirler. Kalite mührü, ödül alan ürüne pozitifi bir imaj katar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kamyon
        </h3>
        <p>
            Bazen Amerikan İngilizcesi karşılığı olan, "truck" kullanımına da rastlanır. Kamyon, özellikle yük taşımaya yarayan araçlara verilen genel addır. Bunun için şoför kabininin arkasında ilgili yüke uygun bir kamyon kasası bulunur.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kamyon kasa türü
        </h3>
        <p>
            Tenteli veya kutu tipi gibi farklı kamyon kasa türlerini kapsar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kamyon kasa şekli
        </h3>
        <p>
            Tenteli veya kutu tipi gibi farklı kamyon kasa türlerini kapsar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kamyon türü
        </h3>
        <p>
            Römorklu veya yarı römorklu ya da mafsallı kamyon gibi, farklı kamyon türlerini kapsar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kapalı kasa
        </h3>
        <p>
            Dıştan kutuya benzeyen, yanı kasası tamamen kapalı ve çevrili olan kamyon türü.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Karayolu trafiği
        </h3>
        <p>
            Karayolu trafiği kavramı altında, sabit zemin yani toprak üzerinde gerçekleşen tüm trafik türleri birleştirilir. Bu kavramdan, somut olarak malların toprak üzerindeki yollarda veya raylarda yani kamyon, binek araç veya tren ile taşınması anlaşılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kargo
        </h3>
        <p>
            Yük için kullanılan diğer bir kelime.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            KKG
        </h3>
        <p>
            KKG "kapalı kullanıcı grubu"nun kısaltmasıdır; İngilizcesi "Closed User Group“dur (CUG). KKG, sınırlı sayıda kullanıcılardan oluşan bir gruptur. Bu kullanıcıların, başkalarının faydalanamadığı kaynaklara ve hizmetlere erişim hakları vardır. Bir yük ve boş araç borsasında bir KKG, örn. sadece belli kullanıcıların erişim hakkına sahip olduğu, borsa içerisindeki dahili bir borsadan oluşur.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Koli
        </h3>
        <p>
            Koliler, tekli yük parçalarından oluşur. Ve mal sevkiyatının en küçük paketleme birimini oluştururlar.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Komple yük
        </h3>
        <p>
            "Tam yük" işlerde müşteri, bütün bir kamyonu, tek bir alıcıya gidecek şekilde görevlendirir. Uluslararası alanda FTL olarak da geçer; FTL, "Full Track Load"'un kısaltmasıdır (İngilizce: komple yük).
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Konteyner
        </h3>
        <p>
            Latince kökenli (continere = bir arada tutmak, içermek) bir sözcüktür. Konteynır sözcüğü genelde malların taşınması ve depolanması için, normlara uygun üretilen, büyük hacimli toplama kapları için kullanılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Konteyner taşımacılığı
        </h3>
        <p>
            Konteyner taşımacılığı, konteynırların çeşitli taşıma araçları arasında değişebileceği anlamına gelir. ISO konteynerlar; gemi, tren ve karayolu araçları için uygundur.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Konşimento
        </h3>
        <p>
            Gönderen tarafından doldurulan bu evrak, nakliye süresince mala eşlik eder. Konşimento, yük sözleşmesinin yapılmış olmasına ve sözleşmenin içeriğine dair bir delil belgesi olduğu gibi, göndericiden devralındığına ve alıcıya teslim edildiğine ilişkin bir teslim alındı onayıdır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kredi notu araştırması
        </h3>
        <p>
            Kredi notu, kredibilite sözcüğüyle eşanlamlıdır. Bir kredi notu araştırması dahilinde bir girişimcinin, örn. bir ticari bilgi edinme servisi vasıtasıyla, kredibilitisi kontrol edilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kurumsal lojistik
        </h3>
        <p>
            Kurumsal lojistik kavramı ile bir şirketin tüm lojistik faaliyetleri ifade edilir. Bu faaliyetler, şirket içi ve şirket arası tüm lojistik hizmetleri kapsar. Bunlar arasında, üretim için şirket içi lojistik hizmetleri ve üretilen ürünlerin nakliyatı ve dağıtımı yer alır.

            Terimin anlamı
            İşletme ekonomisinde "Lojistik" kavramı, fiziksel mal akışının ve bir şirketin tüm katma değer zincirini kapsayan bilgi akışının planlanması, yönetilmesi, uygulanması ve kontrolünü tanımlar.

            Lojistik görevleri, sektörden bağımsız şekilde prensip olarak her şirkette gündeme gelir. Kurumsal lojistik burada şemsiye terim olarak kullanılır ve ilgili şirketin tüm lojistik ihtiyaçlarını kapsar. Bunun yanı sıra, lojistik sektöründe faaliyet gösteren şirketler, fiziksel mal akışında uzmanlaşmıştır ve fiziksel mal akışı ve başta malların taşınması olmak üzere bununla bağlantılı görevleri diğer şirketlerin adına hizmet sağlayıcı olarak üstlenir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kurye servisi
        </h3>
        <p>
            Kurye hizmeti ile küçük gönderiler, kısa süre içerisinde göndericiden doğrudan alıcıya götürülür.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kutu
        </h3>
        <p>
            Dıştan kutuya benzeyen, yanı kasası tamamen kapalı ve çevrili olan kamyon türü.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kör nokta
        </h3>
        <p>
            Araçlardaki "kör nokta", sürücülerin veya sürücülerin görüş alanından çıkan ve bu nedenle gözle görülemeyen bölgeleri ifade eder. Kör noktalar, sürücülerin trafikteki diğer araçları, yaya veya nesneleri göremediği yerlerdir. Kör noktalar, güvenli sürüş için potansiyel tehlike oluşturabilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Körüklü kamyon
        </h3>
        <p>
            Römorkun ön dingili, bir döner tablo üzerine monte edilmiş kamyon. Körüklü kamyonun hem römork bağlantısında, hem de döner tabloda ayrı ayrı döner noktaları bulunması sayesinde virajların alınması kolaylaşır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Kısmi yük
        </h3>
        <p>
            Kamyonu tamamen (tam yük) doldurmayan, sadece kısmen dolduran yüke denir. Uluslararası alanda LTL olarak da geçer; LTL, "Less Than Truckload" 'un kısaltmasıdır ve "Eksik Kamyon Yükü" anlamına gelir (İngilizce: kısmi yük).
        </p>
    </div>
    @*word section end*@
</div>