<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Ücretsiz
        </h3>
        <p>
            Ticaret dilinde ücretsiz kelimesi (bazen "franko" da kullanılır), nakliyat giderlerinin (veya posta ücretinin), alıcı tarafından değil, gönderen tarafından karşılandığı durumlarda kullanılır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Üretim
        </h3>
        <p>
            Üretim kavramı altında, malların ve hizmetlerin meydana getirilmesi ve imalatı ve de yapımı anlaşılmaktadır.Üretim, bir ürünün geliştirilmesinden satışına kadar süren bir iş sürecidir.Bu süreç, imalat veya yapım süreci olarak görülebilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Üretim kavramı
        </h3>
        <p>
            Üretim kavramı altında malların ve hizmetlerin meydana getirilmesi ve imalatı ve de yapımı anlaşılmaktadır. Üretim, bir ürünün geliştirilmesinden satışına kadar süren bir iş sürecidir. Bu süreç imalat veya yapım süreci olarak görülebilir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Ürün
        </h3>
        <p>
            Bir malı, yani sadece satış veya değiş tokuş ile temin edilebilen ve insan ihtiyaçlarını tatmin eden bir şey (ürün, maddi mal, mahsul).
        </p>
    </div>
    @*word section end*@
</div>