<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Zaman dilimi yönetim sistemi
        </h3>
        <p>
            Bir zaman dilimi yönetim sisteminin amacı, esas olarak yükleme veya boşaltma yerlerinin önündeki bekleme sürelerini önlemektir.
        </p>
    </div>
    @*word section end*@
</div>