<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Jumbo
        </h3>
        <p>
            Jumbo semi treyler, jumbo treyler gibi büyük hacimli yükleme birimleri için kullanılan diğer bir sözcüktür.
        </p>
    </div>
    @*word section end*@
</div>