<div class="transport_dictionary_main_div">
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Palet
        </h3>
        <p>
            Paletler, daha doğrusu nakliyat paletleri, istiflenebilir malların taşınmasında kullanılan düz yükleme birimleridir. Ahşap, plastik veya paslanmaz çelik gibi farklı materyallerden üretilen, değişik palet türleri (örn. düz paletler veya fıçı paletler) bulunur. En çok tanınan palet ise EUR Epal paletidir.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@
    @*word section start*@
    <div class="margin_10px">
        <h3>
            Parça mal taşıma
        </h3>
        <p>
            Parça mal özel taşıma araçları gerektirmez, genellikle ISO konteynırlar kullanılır. Parça malın taşınması sırasında yükün normal şekilde emniyete alınması gerekir, yükün sigortalanması için özel yönetmelikler de bulunmamaktadır.
        </p>
        <hr class="transport_dictionary_hr">
    </div>
    @*word section end*@

    @*word section start*@
    <div class="margin_10px">
        <h3>
            Parça mallar
        </h3>
        <p>
            Küçüt ebatlı, “tek parça halinde” hareket edebilen ve yerleştirilebilen tüm mallar. Yani, ayrıca özel taşıma donanımına gerek görmeden, taşımacılığı kamyonlarda, konteynerlerde veya uçaklarda yapılabilen tüm mallar.
        </p>
    </div>
    @*word section end*@
</div>
