<div class="margin_between_sections display_flex">
    <div class="width_50 container">
        <h3>
            Kurallar çok sıkı: Smart Logistics System’e erişim
        </h3>
        <p>
            Şeffaf, temiz, yetkin; GNY'de işler bu şekilde yürür. Müşterilerimize alışıldık yüksek seviyede güvenlik sunabilmemiz için, sistemle çalışmak isteyen şirketlerin belli şartları yerine getirmesi gerekiyor. Bu şekilde 147.000'in üzerinde GNY kullanıcısı, güven konusunda emin ellerde. Bu katı izin süreci, bugün GNY müşterisi olmanın bir kalite göstergesi olmasına yol açtı.
        </p>
    </div>
    <div class="width_50 container">

        <div class="servis_security_partialview_sub_element_different_color_area left_right_padding">
            <h5>
                Spot pazarda ve sözleşmeli iş pazarında güvenlik
            </h5>
            <ul>
                <li>
                    Borsaya erişim için genelde şirketin en az 6 aydır faaliyet gösteriyor olması gerekir
                </li>
                <li>
                    Sözleşme yapılmadan önce önemli ticari belgeler kontrol edilir
                </li>
                <li>
                    Her yeni müşteri kontrol edilir
                </li>
            </ul>
            <p> Sözleşme yapıldıktan sonra da müşteriler sürekli olarak kontrol edilir</p>
        </div>

    </div>
</div>