<div class="margin_between_sections display_flex">
    <div class="width_50 container">
        <h3>
            En güçlü yanlarımızdan biri: Teknik güvenlik
        </h3>
        <p>
            GNY güvenlik ağı, en modern IBM ve Oracle teknolojisine yapılan tutarlı yatırımları da kapsıyor. Müşteri olarak, hızlı ve güvenli çalışmanızı sağlayan, Smart Logistics System’i kullanabilirsiniz.
            <br />
            GNY ile hiçbir kötü sürpriz yaşamazsınız: Farklı yerlerde ve birbirinden bağımsız en yüksek güvenlik seviyesindeki iki bilgi işlem merkezi, günün her saati çalışabilmenizi sağlıyor. Çünkü sunucularımıza komple yedekleme sistemleri sayesinde felaket durumlarında bile erişebilirsiniz, Smart Logistics System her zaman alışılmış kalitede çalışmaya devam eder.
        </p>
    </div>
    <div class="width_50 container">
        <div class="servis_security_partialview_sub_element_different_color_area left_right_padding">
            <h5 style="margin:10px 0px 0px 10px;">
                BT uzmanı olarak GNY'nin sunduğu:
            </h5>
            <ul>
                <li>
                    Sertifikalı ve enerji tasarrufu sağlayan bilgi işlem merkezleri
                </li>
                <li>
                    Şifreli SSL bağlantısı sayesinde güvenli bilgi veri transferi
                </li>
                <li>
                    Kendi IT departmanımız ile 24/7 izleme ve çalıştırma
                </li>
                <li>
                    Birkaç kez yedekli internet bağlantısı
                </li>
                <li>
                    Güçlü güvenlik duvarı ve çok katmanlı virüs koruma sistemleri
                </li>
            </ul>
        </div>
    </div>
</div>