<div class="text_align_center">
    <h3>
        Temiz işler için kendi başınıza yapabilecekleriniz
    </h3>  
    <p>
        Gelişmiş, çok boyutlu güvenlik ağı sayesinde GNY günlük işlerinizde her şeyin sorunsuz gerçekleşmesi için çalışıyor. Fakat basit araçlar ve önlemlerle kendiniz de güvenliğinizin ciddi oranda arttırılmasına katkıda bulunabilirsiniz. Burada size ilk elden bazı yardımlar sunuyoruz.
    </p>
</div>
<div class="margin_between_sections display_flex">
    <div class="width_50 container">
        <div class="servis_security_partialview_sub_element_different_color_area left_right_padding">
            <h5 style="margin:10px 0px 0px 10px;">
                İş ortağının kimliğinin kontrol edilmesi:
            </h5>
            <ul>
                <li>
                    Smart Logistics System bu konudaki teklifini, potansiyel iş ortağının bir çıktısı şeklinde talep edin. Bu sayede, bu şirketin kendisinin de sisteme erişiminin olup olmadığını hemen kontrol edebilirsiniz.
                </li>
                <li>
                    Şirket profilinde, potansiyel iş ortağınızın kaydını inceleyin. İş ortağınız, kimliğin belirlenmesi için sık talep edilen belgeleri doküman fonksiyonu yardımıyla yüklemiş olmalıdır.
                </li>
                <li>
                    Karşıya yüklenen belgelerdeki bilgilerle şirket dizinine kaydedilen şirket profili arasında veri karşılaştırması yapın.
                </li>
                <li>
                    İrtibat kurulan kişinin verilerini, örneğin adının, telefon numarasının ve e-posta adresinin şirket profilinde kayıtlı ve sizdeki bilgilerle aynı olup olmadığını görmek için karşılaştırın.
                </li>
            </ul>
            <p style="margin:10px 0px 0px 10px;"> İş ortağının bilgilerinde kontrolden sonra açıklanması gereken şüpheler oluşursa, potansiyel iş ortağının kimliğinin belirlenmesi GNY Identify sizi destekler.</p>
        </div>

    </div>
    <div class="width_50 container">

        <div class="servis_security_partialview_sub_element_different_color_area left_right_padding">
            <h5 style="margin:10px 0px 0px 10px;">
                Tanıtım görevi için gerekenler:
            </h5>
            <ul>
                <li>
                    İş ortağınızın gönderdiği teklifin sistemden alınan çıktısı
                </li>
                <li>
                    Şirket profiline yüklenen belgelerin ya da iş ortağından alınan firma belgelerinin kopyası
                </li>
                <li>
                    Şüphelerinizin nedenlerinin de belirtildiği, eksiksiz olarak doldurulmuş sipariş formu
                </li>
            </ul>
        </div>

    </div>
  
</div>