<div class="margin_between_sections display_flex">
    <div class="width_50 container">
        <h3>
            Smart Logistics System’e her zaman güvenli erişim
        </h3>
        <p>
            GNY müşterisi olarak, bireysel güvenlik anahtarı aracılığıyla kendi kişisel güvenlik erişiminize sahip oluyorsunuz. Bu sayede, hesabınız açıldıktan sonra Smart Logistics System’e her zaman rahat, onaylı ve güvenli bir şekilde erişebilirsiniz.
            <br />
            Smart Logistics System’e uygulama aracılığıyla mobil olarak erişseniz bile aynı yüksek güvenlik standartlarını kullanıyoruz. Böylece bireysel bir PIN’le kişisel GNY hesabınıza erişebiliyor ve sistemin uygulamalarını kullanabiliyorsunuz.
        </p>
    </div>
    <div class="width_50 container">
        <div class="servis_security_partialview_sub_element_different_color_area left_right_padding">
            <h5>
                Avantajlarınız:
            </h5>
            <ul>
                <li>
                    Masaüstü uygulaması için kişisel bir güvenlik anahtarının verilmesi
                </li>
                <li>
                    Rahat ve güvenli giriş
                </li>
                <li>
                    Uygulama yoluyla mobil sistem erişimi
                </li>
                <li>
                    Sadece yetkili kullanıcılar için onaylama
                </li>
            </ul>
        </div>
       
    </div>
</div>